In [3]:
# 기본 라이브러리
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set()

# 그래프 기본 설정
plt.rcParams['font.family'] = 'Malgun Gothic'
# plt.rcParams['font.family'] = 'AppleGothic'
plt.rcParams['figure.figsize'] = 12, 6
plt.rcParams['font.size'] = 14
plt.rcParams['axes.unicode_minus'] = False
import gc


# 인코더 추가
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
#VIF
from statsmodels.stats.outliers_influence import variance_inflation_factor
#상수항추가
from statsmodels.tools.tools import add_constant
# 카이제곱, ANOVA
from scipy.stats import chi2_contingency
from scipy.stats import f_oneway
#Turkeyhsd
from statsmodels.stats.multicomp import pairwise_tukeyhsd

### 데이터 불러오기

In [12]:
# parquet 파일 데이터를 읽어온다.
# x 값으로 쓸 데이터 
df1_train = pd.read_parquet('open/train/3.승인매출정보/201807_train_승인매출정보.parquet')
df2_train = pd.read_parquet('open/train/3.승인매출정보/201808_train_승인매출정보.parquet')
df3_train = pd.read_parquet('open/train/3.승인매출정보/201809_train_승인매출정보.parquet')
df4_train = pd.read_parquet('open/train/3.승인매출정보/201810_train_승인매출정보.parquet')
df5_train = pd.read_parquet('open/train/3.승인매출정보/201811_train_승인매출정보.parquet')
df6_train = pd.read_parquet('open/train/3.승인매출정보/201812_train_승인매출정보.parquet')

In [14]:
# 결과데이터를 불러온다. 
segment_df = pd.read_csv('Segment.csv')
segment_df

           기준년월            ID Segment
0        201807  TRAIN_000000       D
1        201807  TRAIN_000001       E
2        201807  TRAIN_000002       C
3        201807  TRAIN_000003       D
4        201807  TRAIN_000004       E
...         ...           ...     ...
2399995  201812  TRAIN_399995       E
2399996  201812  TRAIN_399996       D
2399997  201812  TRAIN_399997       C
2399998  201812  TRAIN_399998       E
2399999  201812  TRAIN_399999       E

[2400000 rows x 3 columns]

In [18]:
# 데이터프레임의 컬럼 이름을 리스트에 담는다. 
column_list = df1_train.columns.tolist()

In [20]:
print(column_list)

['기준년월', 'ID', '최종이용일자_기본', '최종이용일자_신판', '최종이용일자_CA', '최종이용일자_카드론', '최종이용일자_체크', '최종이용일자_일시불', '최종이용일자_할부', '이용건수_신용_B0M', '이용건수_신판_B0M', '이용건수_일시불_B0M', '이용건수_할부_B0M', '이용건수_할부_유이자_B0M', '이용건수_할부_무이자_B0M', '이용건수_부분무이자_B0M', '이용건수_CA_B0M', '이용건수_체크_B0M', '이용건수_카드론_B0M', '이용금액_일시불_B0M', '이용금액_할부_B0M', '이용금액_할부_유이자_B0M', '이용금액_할부_무이자_B0M', '이용금액_부분무이자_B0M', '이용금액_CA_B0M', '이용금액_체크_B0M', '이용금액_카드론_B0M', '이용후경과월_신용', '이용후경과월_신판', '이용후경과월_일시불', '이용후경과월_할부', '이용후경과월_할부_유이자', '이용후경과월_할부_무이자', '이용후경과월_부분무이자', '이용후경과월_CA', '이용후경과월_체크', '이용후경과월_카드론', '이용건수_신용_R12M', '이용건수_신판_R12M', '이용건수_일시불_R12M', '이용건수_할부_R12M', '이용건수_할부_유이자_R12M', '이용건수_할부_무이자_R12M', '이용건수_부분무이자_R12M', '이용건수_CA_R12M', '이용건수_체크_R12M', '이용건수_카드론_R12M', '이용금액_일시불_R12M', '이용금액_할부_R12M', '이용금액_할부_유이자_R12M', '이용금액_할부_무이자_R12M', '이용금액_부분무이자_R12M', '이용금액_CA_R12M', '이용금액_체크_R12M', '이용금액_카드론_R12M', '최대이용금액_일시불_R12M', '최대이용금액_할부_R12M', '최대이용금액_할부_유이자_R12M', '최대이용금액_할부_무이자_R12M', '최대이용금액_부분무이자_R12M', '최대이용금액_CA_R12M', '최대이용금액_체크_R12M', '최대이용금액_카드론_R12M', '이용개월수_신용_R12M', '이용개월수_신판_R12M', '이용개월수_일시불_R12M', '이용개월수_할부_R12M', '이용개월수_할부_유이자_R12M', '이용개월수_할부_무이자_R12M', '이용개월수_부분무이자_R12M', '이용개월수_CA_R12M', '이용개월수_체크_R12M', '이용개월수_카드론_R12M', '이용건수_신용_R6M', '이용건수_신판_R6M', '이용건수_일시불_R6M', '이용건수_할부_R6M', '이용건수_할부_유이자_R6M', '이용건수_할부_무이자_R6M', '이용건수_부분무이자_R6M', '이용건수_CA_R6M', '이용건수_체크_R6M', '이용건수_카드론_R6M', '이용금액_일시불_R6M', '이용금액_할부_R6M', '이용금액_할부_유이자_R6M', '이용금액_할부_무이자_R6M', '이용금액_부분무이자_R6M', '이용금액_CA_R6M', '이용금액_체크_R6M', '이용금액_카드론_R6M', '이용개월수_신용_R6M', '이용개월수_신판_R6M', '이용개월수_일시불_R6M', '이용개월수_할부_R6M', '이용개월수_할부_유이자_R6M', '이용개월수_할부_무이자_R6M', '이용개월수_부분무이자_R6M', '이용개월수_CA_R6M', '이용개월수_체크_R6M', '이용개월수_카드론_R6M', '이용건수_신용_R3M', '이용건수_신판_R3M', '이용건수_일시불_R3M', '이용건수_할부_R3M', '이용건수_할부_유이자_R3M', '이용건수_할부_무이자_R3M', '이용건수_부분무이자_R3M', '이용건수_CA_R3M', '이용건수_체크_R3M', '이용건수_카드론_R3M', '이용금액_일시불_R3M', '이용금액_할부_R3M', '이용금액_할부_유이자_R3M', '이용금액_할부_무이자_R3M', '이용금액_부분무이자_R3M', '이용금액_CA_R3M', '이용금액_체크_R3M', '이용금액_카드론_R3M', '이용개월수_신용_R3M', '이용개월수_신판_R3M', '이용개월수_일시불_R3M', '이용개월수_할부_R3M', '이용개월수_할부_유이자_R3M', '이용개월수_할부_무이자_R3M', '이용개월수_부분무이자_R3M', '이용개월수_CA_R3M', '이용개월수_체크_R3M', '이용개월수_카드론_R3M', '이용가맹점수', '이용금액_해외', '쇼핑_도소매_이용금액', '쇼핑_백화점_이용금액', '쇼핑_마트_이용금액', '쇼핑_슈퍼마켓_이용금액', '쇼핑_편의점_이용금액', '쇼핑_아울렛_이용금액', '쇼핑_온라인_이용금액', '쇼핑_기타_이용금액', '교통_주유이용금액', '교통_정비이용금액', '교통_통행료이용금액', '교통_버스지하철이용금액', '교통_택시이용금액', '교통_철도버스이용금액', '여유_운동이용금액', '여유_Pet이용금액', '여유_공연이용금액', '여유_공원이용금액', '여유_숙박이용금액', '여유_여행이용금액', '여유_항공이용금액', '여유_기타이용금액', '납부_통신비이용금액', '납부_관리비이용금액', '납부_렌탈료이용금액', '납부_가스전기료이용금액', '납부_보험료이용금액', '납부_유선방송이용금액', '납부_건강연금이용금액', '납부_기타이용금액', '_1순위업종', '_1순위업종_이용금액', '_2순위업종', '_2순위업종_이용금액', '_3순위업종', '_3순위업종_이용금액', '_1순위쇼핑업종', '_1순위쇼핑업종_이용금액', '_2순위쇼핑업종', '_2순위쇼핑업종_이용금액', '_3순위쇼핑업종', '_3순위쇼핑업종_이용금액', '_1순위교통업종', '_1순위교통업종_이용금액', '_2순위교통업종', '_2순위교통업종_이용금액', '_3순위교통업종', '_3순위교통업종_이용금액', '_1순위여유업종', '_1순위여유업종_이용금액', '_2순위여유업종', '_2순위여유업종_이용금액', '_3순위여유업종', '_3순위여유업종_이용금액', '_1순위납부업종', '_1순위납부업종_이용금액', '_2순위납부업종', '_2순위납부업종_이용금액', '_3순위납부업종', '_3순위납부업종_이용금액', '할부건수_3M_R12M', '할부건수_6M_R12M', '할부건수_12M_R12M', '할부건수_14M_R12M', '할부금액_3M_R12M', '할부금액_6M_R12M', '할부금액_12M_R12M', '할부금액_14M_R12M', '할부건수_유이자_3M_R12M', '할부건수_유이자_6M_R12M', '할부건수_유이자_12M_R12M', '할부건수_유이자_14M_R12M', '할부금액_유이자_3M_R12M', '할부금액_유이자_6M_R12M', '할부금액_유이자_12M_R12M', '할부금액_유이자_14M_R12M', '할부건수_무이자_3M_R12M', '할부건수_무이자_6M_R12M', '할부건수_무이자_12M_R12M', '할부건수_무이자_14M_R12M', '할부금액_무이자_3M_R12M', '할부금액_무이자_6M_R12M', '할부금액_무이자_12M_R12M', '할부금액_무이자_14M_R12M', '할부건수_부분_3M_R12M', '할부건수_부분_6M_R12M', '할부건수_부분_12M_R12M', '할부건수_부분_14M_R12M', '할부금액_부분_3M_R12M', '할부금액_부분_6M_R12M', '할부금액_부분_12M_R12M', '할부금액_부분_14M_R12M', 'RP건수_B0M', 'RP금액_B0M', 'RP유형건수_B0M', 'RP건수_통신_B0M', 'RP건수_아파트_B0M', 'RP건수_제휴사서비스직접판매_B0M', 'RP건수_렌탈_B0M', 'RP건수_가스_B0M', 'RP건수_전기_B0M', 'RP건수_보험_B0M', 'RP건수_학습비_B0M', 'RP건수_유선방송_B0M', 'RP건수_건강_B0M', 'RP건수_교통_B0M', 'RP후경과월', 'RP후경과월_통신', 'RP후경과월_아파트', 'RP후경과월_제휴사서비스직접판매', 'RP후경과월_렌탈', 'RP후경과월_가스', 'RP후경과월_전기', 'RP후경과월_보험', 'RP후경과월_학습비', 'RP후경과월_유선방송', 'RP후경과월_건강', 'RP후경과월_교통', '증감_RP건수_전월', '증감_RP유형건수_전월', '증감_RP건수_통신_전월', '증감_RP건수_아파트_전월', '증감_RP건수_제휴사서비스직접판매_전월', '증감_RP건수_렌탈_전월', '증감_RP건수_가스_전월', '증감_RP건수_전기_전월', '증감_RP건수_보험_전월', '증감_RP건수_학습비_전월', '증감_RP건수_유선방송_전월', '증감_RP건수_건강_전월', '증감_RP건수_교통_전월', '최초카드론이용경과월', '최종카드론이용경과월', '카드론이용건수_누적', '카드론이용월수_누적', '카드론이용금액_누적', '최종카드론_금융상환방식코드', '최종카드론_신청경로코드', '최종카드론_대출이율', '최종카드론_대출일자', '최종카드론_대출월수', '최종카드론_거치개월수', '최종카드론_대출금액', '이용개월수_온라인_R6M', '이용개월수_오프라인_R6M', '이용금액_온라인_R6M', '이용금액_오프라인_R6M', '이용건수_온라인_R6M', '이용건수_오프라인_R6M', '이용금액_온라인_R3M', '이용금액_오프라인_R3M', '이용건수_온라인_R3M', '이용건수_오프라인_R3M', '이용금액_온라인_B0M', '이용금액_오프라인_B0M', '이용건수_온라인_B0M', '이용건수_오프라인_B0M', '이용개월수_페이_온라인_R6M', '이용개월수_페이_오프라인_R6M', '이용금액_페이_온라인_R6M', '이용금액_페이_오프라인_R6M', '이용건수_페이_온라인_R6M', '이용건수_페이_오프라인_R6M', '이용금액_페이_온라인_R3M', '이용금액_페이_오프라인_R3M', '이용건수_페이_온라인_R3M', '이용건수_페이_오프라인_R3M', '이용금액_페이_온라인_B0M', '이용금액_페이_오프라인_B0M', '이용건수_페이_온라인_B0M', '이용건수_페이_오프라인_B0M', '이용개월수_간편결제_R6M', '이용개월수_당사페이_R6M', '이용개월수_당사기타_R6M', '이용개월수_A페이_R6M', '이용개월수_B페이_R6M', '이용개월수_C페이_R6M', '이용개월수_D페이_R6M', '이용금액_간편결제_R6M', '이용금액_당사페이_R6M', '이용금액_당사기타_R6M', '이용금액_A페이_R6M', '이용금액_B페이_R6M', '이용금액_C페이_R6M', '이용금액_D페이_R6M', '이용건수_간편결제_R6M', '이용건수_당사페이_R6M', '이용건수_당사기타_R6M', '이용건수_A페이_R6M', '이용건수_B페이_R6M', '이용건수_C페이_R6M', '이용건수_D페이_R6M', '이용금액_간편결제_R3M', '이용금액_당사페이_R3M', '이용금액_당사기타_R3M', '이용금액_A페이_R3M', '이용금액_B페이_R3M', '이용금액_C페이_R3M', '이용금액_D페이_R3M', '이용건수_간편결제_R3M', '이용건수_당사페이_R3M', '이용건수_당사기타_R3M', '이용건수_A페이_R3M', '이용건수_B페이_R3M', '이용건수_C페이_R3M', '이용건수_D페이_R3M', '이용금액_간편결제_B0M', '이용금액_당사페이_B0M', '이용금액_당사기타_B0M', '이용금액_A페이_B0M', '이용금액_B페이_B0M', '이용금액_C페이_B0M', '이용금액_D페이_B0M', '이용건수_간편결제_B0M', '이용건수_당사페이_B0M', '이용건수_당사기타_B0M', '이용건수_A페이_B0M', '이용건수_B페이_B0M', '이용건수_C페이_B0M', '이용건수_D페이_B0M', '이용개월수_선결제_R6M', '이용횟수_선결제_R6M', '이용금액_선결제_R6M', '이용건수_선결제_R6M', '이용횟수_선결제_R3M', '이용금액_선결제_R3M', '이용건수_선결제_R3M', '이용횟수_선결제_B0M', '이용금액_선결제_B0M', '이용건수_선결제_B0M', '이용횟수_연체_R6M', '이용금액_연체_R6M', '이용횟수_연체_R3M', '이용금액_연체_R3M', '이용횟수_연체_B0M', '이용금액_연체_B0M', '이용개월수_전체_R6M', '이용개월수_전체_R3M', '이용개월수_결제일_R6M', '이용개월수_결제일_R3M', '가맹점매출금액_B1M', '가맹점매출금액_B2M', '정상청구원금_B0M', '선입금원금_B0M', '정상입금원금_B0M', '연체입금원금_B0M', '정상청구원금_B2M', '선입금원금_B2M', '정상입금원금_B2M', '연체입금원금_B2M', '정상청구원금_B5M', '선입금원금_B5M', '정상입금원금_B5M', '연체입금원금_B5M', '건수_할부전환_R6M', '건수_할부전환_R3M', '금액_할부전환_R6M', '금액_할부전환_R3M', '연속무실적개월수_기본_24M_카드', '연속유실적개월수_기본_24M_카드', '신청건수_ATM_CA_B0', '신청건수_ATM_CL_B0', '신청건수_ATM_CA_R6M', '신청건수_ATM_CL_R6M', '승인거절건수_B0M', '승인거절건수_한도초과_B0M', '승인거절건수_BL_B0M', '승인거절건수_입력오류_B0M', '승인거절건수_기타_B0M', '승인거절건수_R3M', '승인거절건수_한도초과_R3M', '승인거절건수_BL_R3M', '승인거절건수_입력오류_R3M', '승인거절건수_기타_R3M', '이용금액대']

In [22]:
# 슬라이싱
column_list = column_list[129:223]

In [24]:
print(column_list)

['이용가맹점수', '이용금액_해외', '쇼핑_도소매_이용금액', '쇼핑_백화점_이용금액', '쇼핑_마트_이용금액', '쇼핑_슈퍼마켓_이용금액', '쇼핑_편의점_이용금액', '쇼핑_아울렛_이용금액', '쇼핑_온라인_이용금액', '쇼핑_기타_이용금액', '교통_주유이용금액', '교통_정비이용금액', '교통_통행료이용금액', '교통_버스지하철이용금액', '교통_택시이용금액', '교통_철도버스이용금액', '여유_운동이용금액', '여유_Pet이용금액', '여유_공연이용금액', '여유_공원이용금액', '여유_숙박이용금액', '여유_여행이용금액', '여유_항공이용금액', '여유_기타이용금액', '납부_통신비이용금액', '납부_관리비이용금액', '납부_렌탈료이용금액', '납부_가스전기료이용금액', '납부_보험료이용금액', '납부_유선방송이용금액', '납부_건강연금이용금액', '납부_기타이용금액', '_1순위업종', '_1순위업종_이용금액', '_2순위업종', '_2순위업종_이용금액', '_3순위업종', '_3순위업종_이용금액', '_1순위쇼핑업종', '_1순위쇼핑업종_이용금액', '_2순위쇼핑업종', '_2순위쇼핑업종_이용금액', '_3순위쇼핑업종', '_3순위쇼핑업종_이용금액', '_1순위교통업종', '_1순위교통업종_이용금액', '_2순위교통업종', '_2순위교통업종_이용금액', '_3순위교통업종', '_3순위교통업종_이용금액', '_1순위여유업종', '_1순위여유업종_이용금액', '_2순위여유업종', '_2순위여유업종_이용금액', '_3순위여유업종', '_3순위여유업종_이용금액', '_1순위납부업종', '_1순위납부업종_이용금액', '_2순위납부업종', '_2순위납부업종_이용금액', '_3순위납부업종', '_3순위납부업종_이용금액', '할부건수_3M_R12M', '할부건수_6M_R12M', '할부건수_12M_R12M', '할부건수_14M_R12M', '할부금액_3M_R12M', '할부금액_6M_R12M', '할부금액_12M_R12M', '할부금액_14M_R12M', '할부건수_유이자_3M_R12M', '할부건수_유이자_6M_R12M', '할부건수_유이자_12M_R12M', '할부건수_유이자_14M_R12M', '할부금액_유이자_3M_R12M', '할부금액_유이자_6M_R12M', '할부금액_유이자_12M_R12M', '할부금액_유이자_14M_R12M', '할부건수_무이자_3M_R12M', '할부건수_무이자_6M_R12M', '할부건수_무이자_12M_R12M', '할부건수_무이자_14M_R12M', '할부금액_무이자_3M_R12M', '할부금액_무이자_6M_R12M', '할부금액_무이자_12M_R12M', '할부금액_무이자_14M_R12M', '할부건수_부분_3M_R12M', '할부건수_부분_6M_R12M', '할부건수_부분_12M_R12M', '할부건수_부분_14M_R12M', '할부금액_부분_3M_R12M', '할부금액_부분_6M_R12M', '할부금액_부분_12M_R12M', '할부금액_부분_14M_R12M']

In [26]:
df1_train = df1_train[column_list]

In [28]:
df2_train = df2_train[column_list]
df3_train = df3_train[column_list]
df4_train = df4_train[column_list]
df5_train = df5_train[column_list]
df6_train = df6_train[column_list]

In [30]:
combined_df = pd.concat([df1_train, df2_train, df3_train, df4_train, df5_train, df6_train], 
                         axis=0,        # 행 방향
                         ignore_index=True)  # 인덱스 초기화

In [34]:
# 세그먼트와 데이터를 합쳐준다. 

all_df = pd.concat([segment_df,combined_df], axis = 1)
all_df

,기준년월,ID,Segment,이용가맹점수,이용금액_해외,쇼핑_도소매_이용금액,쇼핑_백화점_이용금액,쇼핑_마트_이용금액,쇼핑_슈퍼마켓_이용금액,쇼핑_편의점_이용금액,...,할부금액_무이자_12M_R12M,할부금액_무이자_14M_R12M,할부건수_부분_3M_R12M,할부건수_부분_6M_R12M,할부건수_부분_12M_R12M,할부건수_부분_14M_R12M,할부금액_부분_3M_R12M,할부금액_부분_6M_R12M,할부금액_부분_12M_R12M,할부금액_부분_14M_R12M
0,201807,TRAIN_000000,D,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,201807,TRAIN_000001,E,32,0,645,0,0,435,315,...,0,0,0,0,0,0,0,0,0,0
2,201807,TRAIN_000002,C,27,0,1038,751,924,504,239,...,0,0,0,0,0,0,0,0,0,0
3,201807,TRAIN_000003,D,10,0,0,0,801,487,0,...,0,0,0,0,0,0,0,0,0,0
4,201807,TRAIN_000004,E,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399995,201812,TRAIN_399995,E,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2399996,201812,TRAIN_399996,D,15,0,1496,0,0,714,0,...,0,0,0,0,0,0,0,0,0,0
2399997,201812,TRAIN_399997,C,27,0,0,0,0,400,300,...,0,0,0,0,0,0,0,0,0,0
2399998,201812,TRAIN_399998,E,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2399999,201812,TRAIN_399999,E,3,0,0,985,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [38]:
print(all_df.isna().sum().to_string())

기준년월                       0
ID                         0
Segment                    0
이용가맹점수                     0
이용금액_해외                    0
쇼핑_도소매_이용금액                0
쇼핑_백화점_이용금액                0
쇼핑_마트_이용금액                 0
쇼핑_슈퍼마켓_이용금액               0
쇼핑_편의점_이용금액                0
쇼핑_아울렛_이용금액                0
쇼핑_온라인_이용금액                0
쇼핑_기타_이용금액                 0
교통_주유이용금액                  0
교통_정비이용금액                  0
교통_통행료이용금액                 0
교통_버스지하철이용금액               0
교통_택시이용금액                  0
교통_철도버스이용금액                0
여유_운동이용금액                  0
여유_Pet이용금액                 0
여유_공연이용금액                  0
여유_공원이용금액                  0
여유_숙박이용금액                  0
여유_여행이용금액                  0
여유_항공이용금액                  0
여유_기타이용금액                  0
납부_통신비이용금액                 0
납부_관리비이용금액                 0
납부_렌탈료이용금액                 0
납부_가스전기료이용금액               0
납부_보험료이용금액                 0
납부_유선방송이용금액                0
납부_건강연금이용금액                0
납부_기타이용금액                  0
_1순위업종                539992
_1순위업종_이용금액                0
_2순위업종                912725
_2순위업종_이용금액                0
_3순위업종               1107898
_3순위업종_이용금액                0
_1순위쇼핑업종              922663
_1순위쇼핑업종_이용금액              0
_2순위쇼핑업종             1135042
_2순위쇼핑업종_이용금액              0
_3순위쇼핑업종             1312267
_3순위쇼핑업종_이용금액              0
_1순위교통업종             1164494
_1순위교통업종_이용금액              0
_2순위교통업종             1656423
_2순위교통업종_이용금액              0
_3순위교통업종             2045455
_3순위교통업종_이용금액              0
_1순위여유업종             1987260
_1순위여유업종_이용금액              0
_2순위여유업종             2302286
_2순위여유업종_이용금액              0
_3순위여유업종             2377725
_3순위여유업종_이용금액              0
_1순위납부업종             1216263
_1순위납부업종_이용금액              0
_2순위납부업종             2033640
_2순위납부업종_이용금액              0
_3순위납부업종             2310187
_3순위납부업종_이용금액              0
할부건수_3M_R12M               0
할부건수_6M_R12M               0
할부건수_12M_R12M              0
할부건수_14M_R12M              0
할부금액_3M_R12M               0
할부금액_6M_R12M               0
할부금액_12M_R12M              0
할부금액_14M_R12M              0
할부건수_유이자_3M_R12M           0
할부건수_유이자_6M_R12M           0
할부건수_유이자_12M_R12M          0
할부건수_유이자_14M_R12M          0
할부금액_유이자_3M_R12M           0
할부금액_유이자_6M_R12M           0
할부금액_유이자_12M_R12M          0
할부금액_유이자_14M_R12M          0
할부건수_무이자_3M_R12M           0
할부건수_무이자_6M_R12M           0
할부건수_무이자_12M_R12M          0
할부건수_무이자_14M_R12M          0
할부금액_무이자_3M_R12M           0
할부금액_무이자_6M_R12M           0
할부금액_무이자_12M_R12M          0
할부금액_무이자_14M_R12M          0
할부건수_부분_3M_R12M            0
할부건수_부분_6M_R12M            0
할부건수_부분_12M_R12M           0
할부건수_부분_14M_R12M           0
할부금액_부분_3M_R12M            0
할부금액_부분_6M_R12M            0
할부금액_부분_12M_R12M           0
할부금액_부분_14M_R12M           0

_1순위업종                539992
_2순위업종                912725
_3순위업종               1107898
_1순위쇼핑업종              922663
_2순위쇼핑업종             1135042
_3순위쇼핑업종             1312267
_1순위교통업종             1164494
_2순위교통업종             1656423
_3순위교통업종             2045455
_1순위여유업종             1987260
_2순위여유업종             2302286
_3순위여유업종             2377725
_1순위납부업종             1216263
_2순위납부업종             2033640
_3순위납부업종             2310187

In [50]:
for col in column_list:
    try:
        var_value = all_df[col].var()
        print(f"{col}: {var_value:.2f}")
    except TypeError:
        print(f"❌ 분산 계산 불가 (문자열 포함): {col}")

이용가맹점수: 620.33
이용금액_해외: 244947.96
쇼핑_도소매_이용금액: 544484.29
쇼핑_백화점_이용금액: 77740.47
쇼핑_마트_이용금액: 338766.64
쇼핑_슈퍼마켓_이용금액: 228902.32
쇼핑_편의점_이용금액: 114447.16
쇼핑_아울렛_이용금액: 21936.57
쇼핑_온라인_이용금액: 18827604.18
쇼핑_기타_이용금액: 21235.64
교통_주유이용금액: 1163692.50
교통_정비이용금액: 38359.46
교통_통행료이용금액: 2.75
교통_버스지하철이용금액: 128310.55
교통_택시이용금액: 13153.34
교통_철도버스이용금액: 18573.09
여유_운동이용금액: 99932.42
여유_Pet이용금액: 3211.95
여유_공연이용금액: 2226.47
여유_공원이용금액: 103.48
여유_숙박이용금액: 3802.57
여유_여행이용금액: 0.00
여유_항공이용금액: 18086.05
여유_기타이용금액: 1654.66
납부_통신비이용금액: 1110276.92
납부_관리비이용금액: 656954.84
납부_렌탈료이용금액: 0.00
납부_가스전기료이용금액: 7593.75
납부_보험료이용금액: 423363.85
납부_유선방송이용금액: 0.00
납부_건강연금이용금액: 0.00
납부_기타이용금액: 8414.30
❌ 분산 계산 불가 (문자열 포함): _1순위업종
_1순위업종_이용금액: 78376831.02
❌ 분산 계산 불가 (문자열 포함): _2순위업종
_2순위업종_이용금액: 8171160.65
❌ 분산 계산 불가 (문자열 포함): _3순위업종
_3순위업종_이용금액: 2717267.15
❌ 분산 계산 불가 (문자열 포함): _1순위쇼핑업종
_1순위쇼핑업종_이용금액: 18248816.94
❌ 분산 계산 불가 (문자열 포함): _2순위쇼핑업종
_2순위쇼핑업종_이용금액: 441931.88
❌ 분산 계산 불가 (문자열 포함): _3순위쇼핑업종
_3순위쇼핑업종_이용금액: 256998.47
❌ 분산 계산 불가 (문자열 포함): _1순위교통업종
_1순위교통업종_이용금액: 1098752.40
❌ 분산 계산 불가 (문자열 포함): _2순위교통업종
_2순위교통업종_이용금액: 71553.00
❌ 분산 계산 불가 (문자열 포함): _3순위교통업종
_3순위교통업종_이용금액: 16667.88
❌ 분산 계산 불가 (문자열 포함): _1순위여유업종
_1순위여유업종_이용금액: 117236.46
❌ 분산 계산 불가 (문자열 포함): _2순위여유업종
_2순위여유업종_이용금액: 5873.55
❌ 분산 계산 불가 (문자열 포함): _3순위여유업종
_3순위여유업종_이용금액: 695.48
❌ 분산 계산 불가 (문자열 포함): _1순위납부업종
_1순위납부업종_이용금액: 1613889.45
❌ 분산 계산 불가 (문자열 포함): _2순위납부업종
_2순위납부업종_이용금액: 284544.47
❌ 분산 계산 불가 (문자열 포함): _3순위납부업종
_3순위납부업종_이용금액: 23177.92
할부건수_3M_R12M: 23.38
할부건수_6M_R12M: 4.00
할부건수_12M_R12M: 0.12
할부건수_14M_R12M: 0.00
할부금액_3M_R12M: 89515265.53
할부금액_6M_R12M: 22569120.00
할부금액_12M_R12M: 5191073.44
할부금액_14M_R12M: 901824.55
할부건수_유이자_3M_R12M: 2.40
할부건수_유이자_6M_R12M: 0.39
할부건수_유이자_12M_R12M: 0.06
할부건수_유이자_14M_R12M: 0.00
할부금액_유이자_3M_R12M: 9805757.29
할부금액_유이자_6M_R12M: 3149946.07
할부금액_유이자_12M_R12M: 2500706.75
할부금액_유이자_14M_R12M: 477303.17
할부건수_무이자_3M_R12M: 15.94
할부건수_무이자_6M_R12M: 3.05
할부건수_무이자_12M_R12M: 0.05
할부건수_무이자_14M_R12M: 0.00
할부금액_무이자_3M_R12M: 64352215.01
할부금액_무이자_6M_R12M: 15766008.84
할부금액_무이자_12M_R12M: 521001.29
할부금액_무이자_14M_R12M: 425132.32
할부건수_부분_3M_R12M: 0.00
할부건수_부분_6M_R12M: 0.00
할부건수_부분_12M_R12M: 0.00
할부건수_부분_14M_R12M: 0.00
할부금액_부분_3M_R12M: 0.00
할부금액_부분_6M_R12M: 7.52
할부금액_부분_12M_R12M: 1211996.73
할부금액_부분_14M_R12M: 3282.35

In [125]:
all_df['할부금액_부분_3M_R12M'].value_counts()

할부금액_부분_3M_R12M
0    2400000
Name: count, dtype: int64

In [52]:
all_df['여유_여행이용금액'].value_counts()

여유_여행이용금액
0    2400000
Name: count, dtype: int64

- 분산이 0인 것들은 [할부건수_14M_R12M, 할부건수_유이자_14M_R12M, 할부건수_부분_12M_R12M, 할부건수_무이자_14M_R12M] 컬럼을 제외하면
- 모두 0 하나만을 데이터로 가지고 있다.
- [여유_여행이용금액, 납부_렌탈료이용금액, 납부_유선방송이용금액, 납부_건강연금이용금액, 할부건수_부분_3M_R12M, 할부건수_부분_6M_R12M, 할부건수_부분_14M_R12M, 할부금액_부분_3M_R12M]의 경우 0 하나만을 가진 데이터값이다.

- 0 하나만 가진 데이터값은 상관관계 분석이나 추후 학습에 방해되므로 drop

In [88]:
all_df.drop(['여유_여행이용금액', '납부_렌탈료이용금액', '납부_유선방송이용금액', 
             '납부_건강연금이용금액', '할부건수_부분_3M_R12M', '할부건수_부분_6M_R12M', '할부건수_부분_14M_R12M'],
            axis=1, inplace=True)

In [128]:

all_df.drop(['할부금액_부분_3M_R12M'],
            axis=1, inplace=True)

### 변수간 관계파악
Anova -> ETA제곱
카이제곱 -> 크레이머스V

In [83]:
print(column_list)

['이용가맹점수', '이용금액_해외', '쇼핑_도소매_이용금액', '쇼핑_백화점_이용금액', '쇼핑_마트_이용금액', '쇼핑_슈퍼마켓_이용금액', '쇼핑_편의점_이용금액', '쇼핑_아울렛_이용금액', '쇼핑_온라인_이용금액', '쇼핑_기타_이용금액', '교통_주유이용금액', '교통_정비이용금액', '교통_통행료이용금액', '교통_버스지하철이용금액', '교통_택시이용금액', '교통_철도버스이용금액', '여유_운동이용금액', '여유_Pet이용금액', '여유_공연이용금액', '여유_공원이용금액', '여유_숙박이용금액', '여유_여행이용금액', '여유_항공이용금액', '여유_기타이용금액', '납부_통신비이용금액', '납부_관리비이용금액', '납부_렌탈료이용금액', '납부_가스전기료이용금액', '납부_보험료이용금액', '납부_유선방송이용금액', '납부_건강연금이용금액', '납부_기타이용금액', '_1순위업종', '_1순위업종_이용금액', '_2순위업종', '_2순위업종_이용금액', '_3순위업종', '_3순위업종_이용금액', '_1순위쇼핑업종', '_1순위쇼핑업종_이용금액', '_2순위쇼핑업종', '_2순위쇼핑업종_이용금액', '_3순위쇼핑업종', '_3순위쇼핑업종_이용금액', '_1순위교통업종', '_1순위교통업종_이용금액', '_2순위교통업종', '_2순위교통업종_이용금액', '_3순위교통업종', '_3순위교통업종_이용금액', '_1순위여유업종', '_1순위여유업종_이용금액', '_2순위여유업종', '_2순위여유업종_이용금액', '_3순위여유업종', '_3순위여유업종_이용금액', '_1순위납부업종', '_1순위납부업종_이용금액', '_2순위납부업종', '_2순위납부업종_이용금액', '_3순위납부업종', '_3순위납부업종_이용금액', '할부건수_3M_R12M', '할부건수_6M_R12M', '할부건수_12M_R12M', '할부건수_14M_R12M', '할부금액_3M_R12M', '할부금액_6M_R12M', '할부금액_12M_R12M', '할부금액_14M_R12M', '할부건수_유이자_3M_R12M', '할부건수_유이자_6M_R12M', '할부건수_유이자_12M_R12M', '할부건수_유이자_14M_R12M', '할부금액_유이자_3M_R12M', '할부금액_유이자_6M_R12M', '할부금액_유이자_12M_R12M', '할부금액_유이자_14M_R12M', '할부건수_무이자_3M_R12M', '할부건수_무이자_6M_R12M', '할부건수_무이자_12M_R12M', '할부건수_무이자_14M_R12M', '할부금액_무이자_3M_R12M', '할부금액_무이자_6M_R12M', '할부금액_무이자_12M_R12M', '할부금액_무이자_14M_R12M', '할부건수_부분_3M_R12M', '할부건수_부분_6M_R12M', '할부건수_부분_12M_R12M', '할부건수_부분_14M_R12M', '할부금액_부분_3M_R12M', '할부금액_부분_6M_R12M', '할부금액_부분_12M_R12M', '할부금액_부분_14M_R12M']

In [90]:
# 크레이머스V와 eta를 구하기 위한 함수
def cramers_v(confusion_matrix):
    chi2 = chi2_contingency(confusion_matrix)[0]
    n = confusion_matrix.sum().sum()
    r, k = confusion_matrix.shape
    return np.sqrt(chi2 / (n * (min(k, r) - 1)))

def eta_squared(anova_ss_between, total_ss):
    return anova_ss_between / total_ss if total_ss != 0 else np.nan

In [92]:
# 수치형/범주형 자동 구분
num_cols = all_df.select_dtypes(include=[np.number]).columns.tolist()
cat_cols = all_df.select_dtypes(exclude=[np.number]).columns.tolist()

In [94]:
print(cat_cols)

['ID', 'Segment', '_1순위업종', '_2순위업종', '_3순위업종', '_1순위쇼핑업종', '_2순위쇼핑업종', '_3순위쇼핑업종', '_1순위교통업종', '_2순위교통업종', '_3순위교통업종', '_1순위여유업종', '_2순위여유업종', '_3순위여유업종', '_1순위납부업종', '_2순위납부업종', '_3순위납부업종']

In [98]:
del cat_cols[0]

In [102]:
print(cat_cols)

['Segment', '_1순위업종', '_2순위업종', '_3순위업종', '_1순위쇼핑업종', '_2순위쇼핑업종', '_3순위쇼핑업종', '_1순위교통업종', '_2순위교통업종', '_3순위교통업종', '_1순위여유업종', '_2순위여유업종', '_3순위여유업종', '_1순위납부업종', '_2순위납부업종', '_3순위납부업종']

In [104]:
print(num_cols)

['기준년월', '이용가맹점수', '이용금액_해외', '쇼핑_도소매_이용금액', '쇼핑_백화점_이용금액', '쇼핑_마트_이용금액', '쇼핑_슈퍼마켓_이용금액', '쇼핑_편의점_이용금액', '쇼핑_아울렛_이용금액', '쇼핑_온라인_이용금액', '쇼핑_기타_이용금액', '교통_주유이용금액', '교통_정비이용금액', '교통_통행료이용금액', '교통_버스지하철이용금액', '교통_택시이용금액', '교통_철도버스이용금액', '여유_운동이용금액', '여유_Pet이용금액', '여유_공연이용금액', '여유_공원이용금액', '여유_숙박이용금액', '여유_항공이용금액', '여유_기타이용금액', '납부_통신비이용금액', '납부_관리비이용금액', '납부_가스전기료이용금액', '납부_보험료이용금액', '납부_기타이용금액', '_1순위업종_이용금액', '_2순위업종_이용금액', '_3순위업종_이용금액', '_1순위쇼핑업종_이용금액', '_2순위쇼핑업종_이용금액', '_3순위쇼핑업종_이용금액', '_1순위교통업종_이용금액', '_2순위교통업종_이용금액', '_3순위교통업종_이용금액', '_1순위여유업종_이용금액', '_2순위여유업종_이용금액', '_3순위여유업종_이용금액', '_1순위납부업종_이용금액', '_2순위납부업종_이용금액', '_3순위납부업종_이용금액', '할부건수_3M_R12M', '할부건수_6M_R12M', '할부건수_12M_R12M', '할부건수_14M_R12M', '할부금액_3M_R12M', '할부금액_6M_R12M', '할부금액_12M_R12M', '할부금액_14M_R12M', '할부건수_유이자_3M_R12M', '할부건수_유이자_6M_R12M', '할부건수_유이자_12M_R12M', '할부건수_유이자_14M_R12M', '할부금액_유이자_3M_R12M', '할부금액_유이자_6M_R12M', '할부금액_유이자_12M_R12M', '할부금액_유이자_14M_R12M', '할부건수_무이자_3M_R12M', '할부건수_무이자_6M_R12M', '할부건수_무이자_12M_R12M', '할부건수_무이자_14M_R12M', '할부금액_무이자_3M_R12M', '할부금액_무이자_6M_R12M', '할부금액_무이자_12M_R12M', '할부금액_무이자_14M_R12M', '할부건수_부분_12M_R12M', '할부금액_부분_3M_R12M', '할부금액_부분_6M_R12M', '할부금액_부분_12M_R12M', '할부금액_부분_14M_R12M']

In [106]:
del num_cols[0]

In [108]:
print(num_cols)

['이용가맹점수', '이용금액_해외', '쇼핑_도소매_이용금액', '쇼핑_백화점_이용금액', '쇼핑_마트_이용금액', '쇼핑_슈퍼마켓_이용금액', '쇼핑_편의점_이용금액', '쇼핑_아울렛_이용금액', '쇼핑_온라인_이용금액', '쇼핑_기타_이용금액', '교통_주유이용금액', '교통_정비이용금액', '교통_통행료이용금액', '교통_버스지하철이용금액', '교통_택시이용금액', '교통_철도버스이용금액', '여유_운동이용금액', '여유_Pet이용금액', '여유_공연이용금액', '여유_공원이용금액', '여유_숙박이용금액', '여유_항공이용금액', '여유_기타이용금액', '납부_통신비이용금액', '납부_관리비이용금액', '납부_가스전기료이용금액', '납부_보험료이용금액', '납부_기타이용금액', '_1순위업종_이용금액', '_2순위업종_이용금액', '_3순위업종_이용금액', '_1순위쇼핑업종_이용금액', '_2순위쇼핑업종_이용금액', '_3순위쇼핑업종_이용금액', '_1순위교통업종_이용금액', '_2순위교통업종_이용금액', '_3순위교통업종_이용금액', '_1순위여유업종_이용금액', '_2순위여유업종_이용금액', '_3순위여유업종_이용금액', '_1순위납부업종_이용금액', '_2순위납부업종_이용금액', '_3순위납부업종_이용금액', '할부건수_3M_R12M', '할부건수_6M_R12M', '할부건수_12M_R12M', '할부건수_14M_R12M', '할부금액_3M_R12M', '할부금액_6M_R12M', '할부금액_12M_R12M', '할부금액_14M_R12M', '할부건수_유이자_3M_R12M', '할부건수_유이자_6M_R12M', '할부건수_유이자_12M_R12M', '할부건수_유이자_14M_R12M', '할부금액_유이자_3M_R12M', '할부금액_유이자_6M_R12M', '할부금액_유이자_12M_R12M', '할부금액_유이자_14M_R12M', '할부건수_무이자_3M_R12M', '할부건수_무이자_6M_R12M', '할부건수_무이자_12M_R12M', '할부건수_무이자_14M_R12M', '할부금액_무이자_3M_R12M', '할부금액_무이자_6M_R12M', '할부금액_무이자_12M_R12M', '할부금액_무이자_14M_R12M', '할부건수_부분_12M_R12M', '할부금액_부분_3M_R12M', '할부금액_부분_6M_R12M', '할부금액_부분_12M_R12M', '할부금액_부분_14M_R12M']

In [130]:
# 제외할 컬럼 리스트
remove_cols = ['여유_여행이용금액', '납부_렌탈료이용금액', '납부_유선방송이용금액', 
               '납부_건강연금이용금액', '할부건수_부분_3M_R12M', '할부건수_부분_6M_R12M', '할부건수_부분_14M_R12M', '할부금액_부분_3M_R12M']

# 기존 숫자형 컬럼 리스트에서 제거
num_cols = [col for col in num_cols if col not in remove_cols]

In [132]:
print(num_cols)

['이용가맹점수', '이용금액_해외', '쇼핑_도소매_이용금액', '쇼핑_백화점_이용금액', '쇼핑_마트_이용금액', '쇼핑_슈퍼마켓_이용금액', '쇼핑_편의점_이용금액', '쇼핑_아울렛_이용금액', '쇼핑_온라인_이용금액', '쇼핑_기타_이용금액', '교통_주유이용금액', '교통_정비이용금액', '교통_통행료이용금액', '교통_버스지하철이용금액', '교통_택시이용금액', '교통_철도버스이용금액', '여유_운동이용금액', '여유_Pet이용금액', '여유_공연이용금액', '여유_공원이용금액', '여유_숙박이용금액', '여유_항공이용금액', '여유_기타이용금액', '납부_통신비이용금액', '납부_관리비이용금액', '납부_가스전기료이용금액', '납부_보험료이용금액', '납부_기타이용금액', '_1순위업종_이용금액', '_2순위업종_이용금액', '_3순위업종_이용금액', '_1순위쇼핑업종_이용금액', '_2순위쇼핑업종_이용금액', '_3순위쇼핑업종_이용금액', '_1순위교통업종_이용금액', '_2순위교통업종_이용금액', '_3순위교통업종_이용금액', '_1순위여유업종_이용금액', '_2순위여유업종_이용금액', '_3순위여유업종_이용금액', '_1순위납부업종_이용금액', '_2순위납부업종_이용금액', '_3순위납부업종_이용금액', '할부건수_3M_R12M', '할부건수_6M_R12M', '할부건수_12M_R12M', '할부건수_14M_R12M', '할부금액_3M_R12M', '할부금액_6M_R12M', '할부금액_12M_R12M', '할부금액_14M_R12M', '할부건수_유이자_3M_R12M', '할부건수_유이자_6M_R12M', '할부건수_유이자_12M_R12M', '할부건수_유이자_14M_R12M', '할부금액_유이자_3M_R12M', '할부금액_유이자_6M_R12M', '할부금액_유이자_12M_R12M', '할부금액_유이자_14M_R12M', '할부건수_무이자_3M_R12M', '할부건수_무이자_6M_R12M', '할부건수_무이자_12M_R12M', '할부건수_무이자_14M_R12M', '할부금액_무이자_3M_R12M', '할부금액_무이자_6M_R12M', '할부금액_무이자_12M_R12M', '할부금액_무이자_14M_R12M', '할부건수_부분_12M_R12M', '할부금액_부분_6M_R12M', '할부금액_부분_12M_R12M', '할부금액_부분_14M_R12M']

In [134]:
anova = []
chi = []

for col in all_df.columns:
    if col == 'Segment':
        continue

    if col in num_cols:
        data = all_df[[col, 'Segment']].dropna()
        groups = [data[data['Segment'] == val][col] for val in data['Segment'].unique()]
        try:
            stat = f_oneway(*groups).statistic
            ss_between = sum([(g.mean() - data[col].mean())**2 * len(g) for g in groups])
            ss_total = sum((data[col] - data[col].mean())**2)
            eta2 = eta_squared(ss_between, ss_total)
            anova.append({'변수': col, '유형': '수치형', '계수종류': 'Eta²', '상관계수': eta2})
        except:
            continue

    elif col in cat_cols:
        contingency = pd.crosstab(all_df[col], all_df['Segment'])
        if contingency.shape[0] > 1 and contingency.shape[1] > 1:
            try:
                v = cramers_v(contingency)
                chi.append({'변수': col, '유형': '범주형', '계수종류': "Cramér's V", '상관계수': v})
            except:
                continue

# 결과 정리
result_df1 = pd.DataFrame(anova)
result_df2 = pd.DataFrame(chi)
result_df1 = result_df1.sort_values(by='상관계수', ascending=False).reset_index(drop=True)
result_df2 = result_df2.sort_values(by='상관계수', ascending=False).reset_index(drop=True)

# 결과 출력
display(result_df1)
display(result_df2)

                   변수   유형  계수종류          상관계수
0         _3순위업종_이용금액  수치형  Eta²  2.549372e-01
1         _2순위업종_이용금액  수치형  Eta²  2.429217e-01
2       _2순위쇼핑업종_이용금액  수치형  Eta²  2.387084e-01
3         _1순위업종_이용금액  수치형  Eta²  2.198912e-01
4       _3순위쇼핑업종_이용금액  수치형  Eta²  2.172726e-01
5              이용가맹점수  수치형  Eta²  2.157008e-01
6         쇼핑_도소매_이용금액  수치형  Eta²  2.048195e-01
7       _1순위교통업종_이용금액  수치형  Eta²  1.715343e-01
8          쇼핑_마트_이용금액  수치형  Eta²  1.575289e-01
9        쇼핑_슈퍼마켓_이용금액  수치형  Eta²  1.560192e-01
10          교통_주유이용금액  수치형  Eta²  1.534422e-01
11      _1순위쇼핑업종_이용금액  수치형  Eta²  1.416423e-01
12      _2순위교통업종_이용금액  수치형  Eta²  1.264717e-01
13        쇼핑_온라인_이용금액  수치형  Eta²  1.251935e-01
14          교통_정비이용금액  수치형  Eta²  1.152910e-01
15       할부금액_3M_R12M  수치형  Eta²  1.146496e-01
16        쇼핑_편의점_이용금액  수치형  Eta²  1.108649e-01
17   할부금액_무이자_3M_R12M  수치형  Eta²  1.095503e-01
18      _3순위교통업종_이용금액  수치형  Eta²  1.079877e-01
19          납부_기타이용금액  수치형  Eta²  9.976501e-02
20       할부금액_6M_R12M  수치형  Eta²  9.011536e-02
21         쇼핑_기타_이용금액  수치형  Eta²  8.941263e-02
22            이용금액_해외  수치형  Eta²  8.759255e-02
23       할부건수_3M_R12M  수치형  Eta²  8.220689e-02
24      _1순위여유업종_이용금액  수치형  Eta²  8.201874e-02
25   할부금액_무이자_6M_R12M  수치형  Eta²  8.003808e-02
26   할부건수_무이자_3M_R12M  수치형  Eta²  7.990661e-02
27        쇼핑_백화점_이용금액  수치형  Eta²  7.842607e-02
28          교통_택시이용금액  수치형  Eta²  6.645548e-02
29          여유_운동이용금액  수치형  Eta²  6.070089e-02
30       할부건수_6M_R12M  수치형  Eta²  6.006017e-02
31      _1순위납부업종_이용금액  수치형  Eta²  5.668454e-02
32   할부건수_무이자_6M_R12M  수치형  Eta²  5.590561e-02
33      _2순위여유업종_이용금액  수치형  Eta²  4.788675e-02
34   할부금액_유이자_3M_R12M  수치형  Eta²  4.166154e-02
35      _2순위납부업종_이용금액  수치형  Eta²  4.044062e-02
36         납부_통신비이용금액  수치형  Eta²  3.997435e-02
37         납부_보험료이용금액  수치형  Eta²  3.406799e-02
38        교통_철도버스이용금액  수치형  Eta²  3.364627e-02
39          여유_숙박이용금액  수치형  Eta²  3.250516e-02
40        쇼핑_아울렛_이용금액  수치형  Eta²  3.197465e-02
41   할부건수_유이자_3M_R12M  수치형  Eta²  3.156948e-02
42   할부금액_유이자_6M_R12M  수치형  Eta²  2.964685e-02
43          여유_공연이용금액  수치형  Eta²  2.720280e-02
44      _3순위여유업종_이용금액  수치형  Eta²  2.183659e-02
45       교통_버스지하철이용금액  수치형  Eta²  2.157895e-02
46      _3순위납부업종_이용금액  수치형  Eta²  1.702915e-02
47          여유_기타이용금액  수치형  Eta²  1.634331e-02
48   할부건수_유이자_6M_R12M  수치형  Eta²  1.555705e-02
49      할부금액_12M_R12M  수치형  Eta²  1.368153e-02
50  할부금액_무이자_12M_R12M  수치형  Eta²  1.182850e-02
51          여유_항공이용금액  수치형  Eta²  9.683946e-03
52         여유_Pet이용금액  수치형  Eta²  8.378419e-03
53         납부_관리비이용금액  수치형  Eta²  6.938032e-03
54          여유_공원이용금액  수치형  Eta²  5.403499e-03
55  할부금액_유이자_12M_R12M  수치형  Eta²  5.388438e-03
56       납부_가스전기료이용금액  수치형  Eta²  5.189205e-03
57      할부건수_12M_R12M  수치형  Eta²  4.687290e-03
58   할부금액_부분_12M_R12M  수치형  Eta²  4.354411e-03
59  할부건수_무이자_12M_R12M  수치형  Eta²  2.828204e-03
60  할부건수_유이자_12M_R12M  수치형  Eta²  2.173066e-03
61      할부금액_14M_R12M  수치형  Eta²  3.384175e-04
62  할부금액_유이자_14M_R12M  수치형  Eta²  2.303228e-04
63  할부금액_무이자_14M_R12M  수치형  Eta²  1.495791e-04
64   할부건수_부분_12M_R12M  수치형  Eta²  7.045953e-05
65         교통_통행료이용금액  수치형  Eta²  4.721707e-05
66  할부건수_유이자_14M_R12M  수치형  Eta²  1.419732e-05
67      할부건수_14M_R12M  수치형  Eta²  1.375602e-05
68    할부금액_부분_6M_R12M  수치형  Eta²  2.446678e-06
69  할부건수_무이자_14M_R12M  수치형  Eta²  3.108322e-07
70   할부금액_부분_14M_R12M  수치형  Eta²  2.398594e-08

          변수   유형        계수종류      상관계수
0   _2순위여유업종  범주형  Cramér's V  0.131715
1     _1순위업종  범주형  Cramér's V  0.116062
2   _3순위여유업종  범주형  Cramér's V  0.105205
3     _2순위업종  범주형  Cramér's V  0.102366
4   _3순위쇼핑업종  범주형  Cramér's V  0.097754
5   _1순위쇼핑업종  범주형  Cramér's V  0.097296
6     _3순위업종  범주형  Cramér's V  0.091734
7   _1순위여유업종  범주형  Cramér's V  0.085033
8   _1순위교통업종  범주형  Cramér's V  0.084260
9   _2순위쇼핑업종  범주형  Cramér's V  0.080923
10  _2순위교통업종  범주형  Cramér's V  0.067434
11  _1순위납부업종  범주형  Cramér's V  0.066615
12  _3순위교통업종  범주형  Cramér's V  0.059368
13  _3순위납부업종  범주형  Cramér's V  0.050341
14  _2순위납부업종  범주형  Cramér's V  0.031200

In [142]:
pd.set_option('display.max_rows', 100)
display(result_df1)

                   변수   유형  계수종류          상관계수
0         _3순위업종_이용금액  수치형  Eta²  2.549372e-01
1         _2순위업종_이용금액  수치형  Eta²  2.429217e-01
2       _2순위쇼핑업종_이용금액  수치형  Eta²  2.387084e-01
3         _1순위업종_이용금액  수치형  Eta²  2.198912e-01
4       _3순위쇼핑업종_이용금액  수치형  Eta²  2.172726e-01
5              이용가맹점수  수치형  Eta²  2.157008e-01
6         쇼핑_도소매_이용금액  수치형  Eta²  2.048195e-01
7       _1순위교통업종_이용금액  수치형  Eta²  1.715343e-01
8          쇼핑_마트_이용금액  수치형  Eta²  1.575289e-01
9        쇼핑_슈퍼마켓_이용금액  수치형  Eta²  1.560192e-01
10          교통_주유이용금액  수치형  Eta²  1.534422e-01
11      _1순위쇼핑업종_이용금액  수치형  Eta²  1.416423e-01
12      _2순위교통업종_이용금액  수치형  Eta²  1.264717e-01
13        쇼핑_온라인_이용금액  수치형  Eta²  1.251935e-01
14          교통_정비이용금액  수치형  Eta²  1.152910e-01
15       할부금액_3M_R12M  수치형  Eta²  1.146496e-01
16        쇼핑_편의점_이용금액  수치형  Eta²  1.108649e-01
17   할부금액_무이자_3M_R12M  수치형  Eta²  1.095503e-01
18      _3순위교통업종_이용금액  수치형  Eta²  1.079877e-01
19          납부_기타이용금액  수치형  Eta²  9.976501e-02
20       할부금액_6M_R12M  수치형  Eta²  9.011536e-02
21         쇼핑_기타_이용금액  수치형  Eta²  8.941263e-02
22            이용금액_해외  수치형  Eta²  8.759255e-02
23       할부건수_3M_R12M  수치형  Eta²  8.220689e-02
24      _1순위여유업종_이용금액  수치형  Eta²  8.201874e-02
25   할부금액_무이자_6M_R12M  수치형  Eta²  8.003808e-02
26   할부건수_무이자_3M_R12M  수치형  Eta²  7.990661e-02
27        쇼핑_백화점_이용금액  수치형  Eta²  7.842607e-02
28          교통_택시이용금액  수치형  Eta²  6.645548e-02
29          여유_운동이용금액  수치형  Eta²  6.070089e-02
30       할부건수_6M_R12M  수치형  Eta²  6.006017e-02
31      _1순위납부업종_이용금액  수치형  Eta²  5.668454e-02
32   할부건수_무이자_6M_R12M  수치형  Eta²  5.590561e-02
33      _2순위여유업종_이용금액  수치형  Eta²  4.788675e-02
34   할부금액_유이자_3M_R12M  수치형  Eta²  4.166154e-02
35      _2순위납부업종_이용금액  수치형  Eta²  4.044062e-02
36         납부_통신비이용금액  수치형  Eta²  3.997435e-02
37         납부_보험료이용금액  수치형  Eta²  3.406799e-02
38        교통_철도버스이용금액  수치형  Eta²  3.364627e-02
39          여유_숙박이용금액  수치형  Eta²  3.250516e-02
40        쇼핑_아울렛_이용금액  수치형  Eta²  3.197465e-02
41   할부건수_유이자_3M_R12M  수치형  Eta²  3.156948e-02
42   할부금액_유이자_6M_R12M  수치형  Eta²  2.964685e-02
43          여유_공연이용금액  수치형  Eta²  2.720280e-02
44      _3순위여유업종_이용금액  수치형  Eta²  2.183659e-02
45       교통_버스지하철이용금액  수치형  Eta²  2.157895e-02
46      _3순위납부업종_이용금액  수치형  Eta²  1.702915e-02
47          여유_기타이용금액  수치형  Eta²  1.634331e-02
48   할부건수_유이자_6M_R12M  수치형  Eta²  1.555705e-02
49      할부금액_12M_R12M  수치형  Eta²  1.368153e-02
50  할부금액_무이자_12M_R12M  수치형  Eta²  1.182850e-02
51          여유_항공이용금액  수치형  Eta²  9.683946e-03
52         여유_Pet이용금액  수치형  Eta²  8.378419e-03
53         납부_관리비이용금액  수치형  Eta²  6.938032e-03
54          여유_공원이용금액  수치형  Eta²  5.403499e-03
55  할부금액_유이자_12M_R12M  수치형  Eta²  5.388438e-03
56       납부_가스전기료이용금액  수치형  Eta²  5.189205e-03
57      할부건수_12M_R12M  수치형  Eta²  4.687290e-03
58   할부금액_부분_12M_R12M  수치형  Eta²  4.354411e-03
59  할부건수_무이자_12M_R12M  수치형  Eta²  2.828204e-03
60  할부건수_유이자_12M_R12M  수치형  Eta²  2.173066e-03
61      할부금액_14M_R12M  수치형  Eta²  3.384175e-04
62  할부금액_유이자_14M_R12M  수치형  Eta²  2.303228e-04
63  할부금액_무이자_14M_R12M  수치형  Eta²  1.495791e-04
64   할부건수_부분_12M_R12M  수치형  Eta²  7.045953e-05
65         교통_통행료이용금액  수치형  Eta²  4.721707e-05
66  할부건수_유이자_14M_R12M  수치형  Eta²  1.419732e-05
67      할부건수_14M_R12M  수치형  Eta²  1.375602e-05
68    할부금액_부분_6M_R12M  수치형  Eta²  2.446678e-06
69  할부건수_무이자_14M_R12M  수치형  Eta²  3.108322e-07
70   할부금액_부분_14M_R12M  수치형  Eta²  2.398594e-08

In [150]:
result_df1['상관계수'] = result_df1['상관계수'].round(4)

In [152]:
display(result_df1)

                   변수   유형  계수종류    상관계수
0         _3순위업종_이용금액  수치형  Eta²  0.2549
1         _2순위업종_이용금액  수치형  Eta²  0.2429
2       _2순위쇼핑업종_이용금액  수치형  Eta²  0.2387
3         _1순위업종_이용금액  수치형  Eta²  0.2199
4       _3순위쇼핑업종_이용금액  수치형  Eta²  0.2173
5              이용가맹점수  수치형  Eta²  0.2157
6         쇼핑_도소매_이용금액  수치형  Eta²  0.2048
7       _1순위교통업종_이용금액  수치형  Eta²  0.1715
8          쇼핑_마트_이용금액  수치형  Eta²  0.1575
9        쇼핑_슈퍼마켓_이용금액  수치형  Eta²  0.1560
10          교통_주유이용금액  수치형  Eta²  0.1534
11      _1순위쇼핑업종_이용금액  수치형  Eta²  0.1416
12      _2순위교통업종_이용금액  수치형  Eta²  0.1265
13        쇼핑_온라인_이용금액  수치형  Eta²  0.1252
14          교통_정비이용금액  수치형  Eta²  0.1153
15       할부금액_3M_R12M  수치형  Eta²  0.1146
16        쇼핑_편의점_이용금액  수치형  Eta²  0.1109
17   할부금액_무이자_3M_R12M  수치형  Eta²  0.1096
18      _3순위교통업종_이용금액  수치형  Eta²  0.1080
19          납부_기타이용금액  수치형  Eta²  0.0998
20       할부금액_6M_R12M  수치형  Eta²  0.0901
21         쇼핑_기타_이용금액  수치형  Eta²  0.0894
22            이용금액_해외  수치형  Eta²  0.0876
23       할부건수_3M_R12M  수치형  Eta²  0.0822
24      _1순위여유업종_이용금액  수치형  Eta²  0.0820
25   할부금액_무이자_6M_R12M  수치형  Eta²  0.0800
26   할부건수_무이자_3M_R12M  수치형  Eta²  0.0799
27        쇼핑_백화점_이용금액  수치형  Eta²  0.0784
28          교통_택시이용금액  수치형  Eta²  0.0665
29          여유_운동이용금액  수치형  Eta²  0.0607
30       할부건수_6M_R12M  수치형  Eta²  0.0601
31      _1순위납부업종_이용금액  수치형  Eta²  0.0567
32   할부건수_무이자_6M_R12M  수치형  Eta²  0.0559
33      _2순위여유업종_이용금액  수치형  Eta²  0.0479
34   할부금액_유이자_3M_R12M  수치형  Eta²  0.0417
35      _2순위납부업종_이용금액  수치형  Eta²  0.0404
36         납부_통신비이용금액  수치형  Eta²  0.0400
37         납부_보험료이용금액  수치형  Eta²  0.0341
38        교통_철도버스이용금액  수치형  Eta²  0.0336
39          여유_숙박이용금액  수치형  Eta²  0.0325
40        쇼핑_아울렛_이용금액  수치형  Eta²  0.0320
41   할부건수_유이자_3M_R12M  수치형  Eta²  0.0316
42   할부금액_유이자_6M_R12M  수치형  Eta²  0.0296
43          여유_공연이용금액  수치형  Eta²  0.0272
44      _3순위여유업종_이용금액  수치형  Eta²  0.0218
45       교통_버스지하철이용금액  수치형  Eta²  0.0216
46      _3순위납부업종_이용금액  수치형  Eta²  0.0170
47          여유_기타이용금액  수치형  Eta²  0.0163
48   할부건수_유이자_6M_R12M  수치형  Eta²  0.0156
49      할부금액_12M_R12M  수치형  Eta²  0.0137
50  할부금액_무이자_12M_R12M  수치형  Eta²  0.0118
51          여유_항공이용금액  수치형  Eta²  0.0097
52         여유_Pet이용금액  수치형  Eta²  0.0084
53         납부_관리비이용금액  수치형  Eta²  0.0069
54          여유_공원이용금액  수치형  Eta²  0.0054
55  할부금액_유이자_12M_R12M  수치형  Eta²  0.0054
56       납부_가스전기료이용금액  수치형  Eta²  0.0052
57      할부건수_12M_R12M  수치형  Eta²  0.0047
58   할부금액_부분_12M_R12M  수치형  Eta²  0.0044
59  할부건수_무이자_12M_R12M  수치형  Eta²  0.0028
60  할부건수_유이자_12M_R12M  수치형  Eta²  0.0022
61      할부금액_14M_R12M  수치형  Eta²  0.0003
62  할부금액_유이자_14M_R12M  수치형  Eta²  0.0002
63  할부금액_무이자_14M_R12M  수치형  Eta²  0.0001
64   할부건수_부분_12M_R12M  수치형  Eta²  0.0001
65         교통_통행료이용금액  수치형  Eta²  0.0000
66  할부건수_유이자_14M_R12M  수치형  Eta²  0.0000
67      할부건수_14M_R12M  수치형  Eta²  0.0000
68    할부금액_부분_6M_R12M  수치형  Eta²  0.0000
69  할부건수_무이자_14M_R12M  수치형  Eta²  0.0000
70   할부금액_부분_14M_R12M  수치형  Eta²  0.0000

### corr 상관계수

In [112]:
# all_df에서 기준년월, ID 컬럼은 제거한다. 
all_df = all_df.drop(['기준년월','ID'], axis=1)

In [113]:
cat_cols

['Segment',
 '_1순위업종',
 '_2순위업종',
 '_3순위업종',
 '_1순위쇼핑업종',
 '_2순위쇼핑업종',
 '_3순위쇼핑업종',
 '_1순위교통업종',
 '_2순위교통업종',
 '_3순위교통업종',
 '_1순위여유업종',
 '_2순위여유업종',
 '_3순위여유업종',
 '_1순위납부업종',
 '_2순위납부업종',
 '_3순위납부업종']

In [135]:
# A가 가장 높은 등급일 것이라 추측하고 세그먼트만 LabelEncoder가 아닌 map으로 진행

segment_order = {'E': 0, 'D': 1, 'C': 2, 'B': 3, 'A': 4}
all_df['Segment_e'] = all_df['Segment'].map(segment_order)

In [ ]:
# 인코딩 진행
# 인코딩할 컬럼만 선택
encoder = LabelEncoder()
all_df[''] = encoder.fit_transform(all_df[''])
all_df[''] = encoder.fit_transform(all_df[''])
all_df[''] = encoder.fit_transform(all_df[''])
all_df[''] = encoder.fit_transform(all_df[''])
all_df[''] = encoder.fit_transform(all_df[''])

In [136]:
print(all_df['Segment_e'].unique())

[1 0 2 4 3]

In [137]:
# 비교할 종속변수
target = 'Segment_e'
# 결과를 담을 리스트 
corr_result = []
# 반복
for col in num_cols:
    if col in all_df.columns:
        corr = all_df[col].corr(all_df[target])
        corr_result.append({'변수': col, '상관계수': corr})

# 데이터프레임으로 정리한다 
result_df3 = pd.DataFrame(corr_result).sort_values(by='상관계수', key=abs, ascending=False).reset_index(drop=True)

display(result_df3)

                   변수      상관계수
0         _3순위업종_이용금액  0.504268
1         _2순위업종_이용금액  0.492209
2       _2순위쇼핑업종_이용금액  0.487364
3         _1순위업종_이용금액  0.468099
4       _3순위쇼핑업종_이용금액  0.464139
5              이용가맹점수  0.456553
6         쇼핑_도소매_이용금액  0.452097
7       _1순위교통업종_이용금액  0.408528
8          쇼핑_마트_이용금액  0.395007
9        쇼핑_슈퍼마켓_이용금액  0.390990
10          교통_주유이용금액  0.387756
11      _1순위쇼핑업종_이용금액  0.375679
12        쇼핑_온라인_이용금액  0.353185
13      _2순위교통업종_이용금액  0.350393
14          교통_정비이용금액  0.338576
15       할부금액_3M_R12M  0.334950
16      _3순위교통업종_이용금액  0.327502
17        쇼핑_편의점_이용금액  0.326543
18   할부금액_무이자_3M_R12M  0.323400
19          납부_기타이용금액  0.314270
20       할부금액_6M_R12M  0.295831
21         쇼핑_기타_이용금액  0.295248
22            이용금액_해외  0.294269
23      _1순위여유업종_이용금액  0.285466
24       할부건수_3M_R12M  0.281473
25        쇼핑_백화점_이용금액  0.279770
26   할부건수_무이자_3M_R12M  0.279451
27   할부금액_무이자_6M_R12M  0.279384
28          교통_택시이용금액  0.253612
29          여유_운동이용금액  0.245944
30       할부건수_6M_R12M  0.237502
31      _1순위납부업종_이용금액  0.230848
32   할부건수_무이자_6M_R12M  0.229298
33      _2순위여유업종_이용금액  0.209964
34      _2순위납부업종_이용금액  0.198603
35         납부_통신비이용금액  0.193360
36   할부금액_유이자_3M_R12M  0.183528
37        교통_철도버스이용금액  0.181839
38         납부_보험료이용금액  0.181590
39        쇼핑_아울렛_이용금액  0.177455
40   할부금액_유이자_6M_R12M  0.166809
41          여유_숙박이용금액  0.164041
42          여유_공연이용금액  0.163621
43   할부건수_유이자_3M_R12M  0.158301
44       교통_버스지하철이용금액  0.138894
45      _3순위여유업종_이용금액  0.134882
46      _3순위납부업종_이용금액  0.130278
47          여유_기타이용금액  0.126732
48   할부건수_유이자_6M_R12M  0.120181
49      할부금액_12M_R12M  0.112694
50  할부금액_무이자_12M_R12M  0.106619
51         여유_Pet이용금액  0.091433
52          여유_항공이용금액  0.086369
53         납부_관리비이용금액  0.080332
54          여유_공원이용금액  0.072424
55  할부금액_유이자_12M_R12M  0.070547
56       납부_가스전기료이용금액  0.068985
57      할부건수_12M_R12M  0.067000
58   할부금액_부분_12M_R12M  0.061985
59  할부건수_무이자_12M_R12M  0.052485
60  할부건수_유이자_12M_R12M  0.044294
61      할부금액_14M_R12M -0.015489
62  할부금액_유이자_14M_R12M -0.013086
63  할부금액_무이자_14M_R12M -0.008688
64   할부건수_부분_12M_R12M  0.007991
65         교통_통행료이용금액  0.006401
66  할부건수_유이자_14M_R12M  0.003506
67      할부건수_14M_R12M  0.003439
68    할부금액_부분_6M_R12M  0.000878
69  할부건수_무이자_14M_R12M -0.000517
70   할부금액_부분_14M_R12M -0.000063

In [154]:
result_AK = pd.concat(
    [result_df1, result_df2],
    axis=0,
    ignore_index=True
)
display(result_AK)

                   변수   유형        계수종류      상관계수
0         _3순위업종_이용금액  수치형        Eta²  0.254900
1         _2순위업종_이용금액  수치형        Eta²  0.242900
2       _2순위쇼핑업종_이용금액  수치형        Eta²  0.238700
3         _1순위업종_이용금액  수치형        Eta²  0.219900
4       _3순위쇼핑업종_이용금액  수치형        Eta²  0.217300
5              이용가맹점수  수치형        Eta²  0.215700
6         쇼핑_도소매_이용금액  수치형        Eta²  0.204800
7       _1순위교통업종_이용금액  수치형        Eta²  0.171500
8          쇼핑_마트_이용금액  수치형        Eta²  0.157500
9        쇼핑_슈퍼마켓_이용금액  수치형        Eta²  0.156000
10          교통_주유이용금액  수치형        Eta²  0.153400
11      _1순위쇼핑업종_이용금액  수치형        Eta²  0.141600
12      _2순위교통업종_이용금액  수치형        Eta²  0.126500
13        쇼핑_온라인_이용금액  수치형        Eta²  0.125200
14          교통_정비이용금액  수치형        Eta²  0.115300
15       할부금액_3M_R12M  수치형        Eta²  0.114600
16        쇼핑_편의점_이용금액  수치형        Eta²  0.110900
17   할부금액_무이자_3M_R12M  수치형        Eta²  0.109600
18      _3순위교통업종_이용금액  수치형        Eta²  0.108000
19          납부_기타이용금액  수치형        Eta²  0.099800
20       할부금액_6M_R12M  수치형        Eta²  0.090100
21         쇼핑_기타_이용금액  수치형        Eta²  0.089400
22            이용금액_해외  수치형        Eta²  0.087600
23       할부건수_3M_R12M  수치형        Eta²  0.082200
24      _1순위여유업종_이용금액  수치형        Eta²  0.082000
25   할부금액_무이자_6M_R12M  수치형        Eta²  0.080000
26   할부건수_무이자_3M_R12M  수치형        Eta²  0.079900
27        쇼핑_백화점_이용금액  수치형        Eta²  0.078400
28          교통_택시이용금액  수치형        Eta²  0.066500
29          여유_운동이용금액  수치형        Eta²  0.060700
30       할부건수_6M_R12M  수치형        Eta²  0.060100
31      _1순위납부업종_이용금액  수치형        Eta²  0.056700
32   할부건수_무이자_6M_R12M  수치형        Eta²  0.055900
33      _2순위여유업종_이용금액  수치형        Eta²  0.047900
34   할부금액_유이자_3M_R12M  수치형        Eta²  0.041700
35      _2순위납부업종_이용금액  수치형        Eta²  0.040400
36         납부_통신비이용금액  수치형        Eta²  0.040000
37         납부_보험료이용금액  수치형        Eta²  0.034100
38        교통_철도버스이용금액  수치형        Eta²  0.033600
39          여유_숙박이용금액  수치형        Eta²  0.032500
40        쇼핑_아울렛_이용금액  수치형        Eta²  0.032000
41   할부건수_유이자_3M_R12M  수치형        Eta²  0.031600
42   할부금액_유이자_6M_R12M  수치형        Eta²  0.029600
43          여유_공연이용금액  수치형        Eta²  0.027200
44      _3순위여유업종_이용금액  수치형        Eta²  0.021800
45       교통_버스지하철이용금액  수치형        Eta²  0.021600
46      _3순위납부업종_이용금액  수치형        Eta²  0.017000
47          여유_기타이용금액  수치형        Eta²  0.016300
48   할부건수_유이자_6M_R12M  수치형        Eta²  0.015600
49      할부금액_12M_R12M  수치형        Eta²  0.013700
50  할부금액_무이자_12M_R12M  수치형        Eta²  0.011800
51          여유_항공이용금액  수치형        Eta²  0.009700
52         여유_Pet이용금액  수치형        Eta²  0.008400
53         납부_관리비이용금액  수치형        Eta²  0.006900
54          여유_공원이용금액  수치형        Eta²  0.005400
55  할부금액_유이자_12M_R12M  수치형        Eta²  0.005400
56       납부_가스전기료이용금액  수치형        Eta²  0.005200
57      할부건수_12M_R12M  수치형        Eta²  0.004700
58   할부금액_부분_12M_R12M  수치형        Eta²  0.004400
59  할부건수_무이자_12M_R12M  수치형        Eta²  0.002800
60  할부건수_유이자_12M_R12M  수치형        Eta²  0.002200
61      할부금액_14M_R12M  수치형        Eta²  0.000300
62  할부금액_유이자_14M_R12M  수치형        Eta²  0.000200
63  할부금액_무이자_14M_R12M  수치형        Eta²  0.000100
64   할부건수_부분_12M_R12M  수치형        Eta²  0.000100
65         교통_통행료이용금액  수치형        Eta²  0.000000
66  할부건수_유이자_14M_R12M  수치형        Eta²  0.000000
67      할부건수_14M_R12M  수치형        Eta²  0.000000
68    할부금액_부분_6M_R12M  수치형        Eta²  0.000000
69  할부건수_무이자_14M_R12M  수치형        Eta²  0.000000
70   할부금액_부분_14M_R12M  수치형        Eta²  0.000000
71           _2순위여유업종  범주형  Cramér's V  0.131715
72             _1순위업종  범주형  Cramér's V  0.116062
73           _3순위여유업종  범주형  Cramér's V  0.105205
74             _2순위업종  범주형  Cramér's V  0.102366
75           _3순위쇼핑업종  범주형  Cramér's V  0.097754
76           _1순위쇼핑업종  범주형  Cramér's V  0.097296
77             _3순위업종  범주형  Cramér's V  0.091734
78           _1순위여유업종  범주형  Cramér's V  0.085033
79           _1순위교통업종  범주형  Cramér's V  0.084260
80           _2순위쇼핑업종  범주형  Cramér's V  0.080923
81           _2순위교통업종  범주형  Cramér's V  0.067434
82           _1순위납부업종  범주형  Cramér's V  0.066615
83           _3순위교통업종  범주형  Cramér's V  0.059368
84           _3순위납부업종  범주형  Cramér's V  0.050341
85           _2순위납부업종  범주형  Cramér's V  0.031200

In [156]:
### 내보낸다. 
result_AK.to_excel('승인매출정보3-2_상관계수.xlsx', index=False)
result_df3.to_excel('승인매출정보3-2_검사.xlsx', index=False)

### VIF

In [23]:
# 사용할 수치형 변수 리스트
features = ['최초한도금액', '카드이용한도금액',
       'CA한도금액', 'CA이자율_할인전', '카드이용한도금액_B1M',
       '카드이용한도금액_B2M']
features1 = ['최초한도금액',
       'CA이자율_할인전',
       'CA한도금액']
features2 = ['최초한도금액', '카드이용한도금액',
       'CA한도금액', 'CA이자율_할인전', '카드이용한도금액_B2M']
# 독립변수 데이터
X = all_df[features2]
X = add_constant(X)  # 상수항 추가

# VIF 계산
vif_df = pd.DataFrame()
vif_df['Feature'] = X.columns
vif_df['VIF'] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]

print(vif_df)

        Feature        VIF
0         const  54.048339
1        최초한도금액   1.019199
2      카드이용한도금액  19.091935
3        CA한도금액   7.152437
4     CA이자율_할인전   1.064573
5  카드이용한도금액_B2M  16.313782

In [24]:
all_df[column5].corr()

,한도증액횟수_R12M,한도증액금액_R12M,한도증액후경과월,상향가능한도금액,상향가능CA한도금액,Segment_e
한도증액횟수_R12M,1.000000,0.941650,-0.819507,0.032296,0.034784,0.060724
한도증액금액_R12M,0.941650,1.000000,-0.763369,0.036540,0.040480,0.084180
한도증액후경과월,-0.819507,-0.763369,1.000000,0.003790,0.001530,-0.039390
상향가능한도금액,0.032296,0.036540,0.003790,1.000000,0.963278,0.050764
상향가능CA한도금액,0.034784,0.040480,0.001530,0.963278,1.000000,0.064575
Segment_e,0.060724,0.084180,-0.039390,0.050764,0.064575,1.000000

### CramersV

In [26]:
# 범주형 vs 범주형: Cramér's V
def cramers_v(x, y):
    confusion_matrix = pd.crosstab(x, y)
    if confusion_matrix.shape[0] < 2 or confusion_matrix.shape[1] < 2:
        return np.nan  # 최소 2x2 이상 필요
    try:
        chi2 = chi2_contingency(confusion_matrix)[0]
        n = confusion_matrix.sum().sum()
        phi2 = chi2 / n
        r, k = confusion_matrix.shape
        return np.sqrt(phi2 / min(k - 1, r - 1))
    except:
        return np.nan

In [27]:
combined_categorical_cols = [
    '자발한도감액횟수_R12M',
    '자발한도감액금액_R12M',
    '자발한도감액후경과월',
    '강제한도감액횟수_R12M',
    '강제한도감액금액_R12M',
    '강제한도감액후경과월',
    '카드론동의여부',
    '월상환론상향가능한도금액',
    'RV전환가능여부',
    '일시불ONLY전환가능여부',
    '특별한도보유여부_R3M',
    '연체감액여부_R3M',
    '한도증액횟수_R12M',
    '한도증액금액_R12M',
    '한도증액후경과월',
    '상향가능한도금액',
    '상향가능CA한도금액',
    '한도심사요청건수',
    '한도요청거절건수',
    '한도심사요청후경과월',
    '한도심사거절후경과월',
    '시장단기연체여부_R6M',
    '시장단기연체여부_R3M',
    '시장연체상환여부_R6M',
    'rv최초시작후경과일'
]


numerical_cols = ['최초한도금액',
 '카드이용한도금액',
 'CA한도금액',
 '일시상환론한도금액',
 '월상환론한도금액',
 'CA이자율_할인전',
 'CL이자율_할인전','RV일시불이자율_할인전',
 'RV현금서비스이자율_할인전',
 'RV약정청구율',
 'RV최소결제비율',
 '카드이용한도금액_B1M',
 '카드이용한도금액_B2M']

In [28]:
# 변수 정의
segment_col = 'Segment'
categorical_cols = combined_categorical_cols  # Segment_e 제외된 범주형 컬럼 리스트

results = []

for col in categorical_cols:
    if col == segment_col:
        continue

    coeff = cramers_v(all_df[segment_col], all_df[col])
    coef_type = "Cramér's V"
    var_type = "범주형"

    results.append({
        '변수': col,
        '유형': var_type,
        '계수종류': coef_type,
        '상관계수': round(coeff, 6) if not pd.isna(coeff) else np.nan
    })

correlation_df = pd.DataFrame(results).sort_values(by='상관계수', ascending=False)
display(correlation_df)

               변수   유형        계수종류      상관계수
15       상향가능한도금액  범주형  Cramér's V  0.141612
16     상향가능CA한도금액  범주형  Cramér's V  0.136274
13    한도증액금액_R12M  범주형  Cramér's V  0.078676
24     rv최초시작후경과일  범주형  Cramér's V  0.070303
12    한도증액횟수_R12M  범주형  Cramér's V  0.070096
8        RV전환가능여부  범주형  Cramér's V  0.044128
6         카드론동의여부  범주형  Cramér's V  0.038021
5      강제한도감액후경과월  범주형  Cramér's V  0.029208
4   강제한도감액금액_R12M  범주형  Cramér's V  0.028309
14       한도증액후경과월  범주형  Cramér's V  0.027772
9   일시불ONLY전환가능여부  범주형  Cramér's V  0.023012
7    월상환론상향가능한도금액  범주형  Cramér's V  0.021801
11     연체감액여부_R3M  범주형  Cramér's V  0.020022
3   강제한도감액횟수_R12M  범주형  Cramér's V  0.019506
1   자발한도감액금액_R12M  범주형  Cramér's V  0.004574
0   자발한도감액횟수_R12M  범주형  Cramér's V  0.004437
10   특별한도보유여부_R3M  범주형  Cramér's V  0.003142
18       한도요청거절건수  범주형  Cramér's V  0.002136
17       한도심사요청건수  범주형  Cramér's V  0.002076
2      자발한도감액후경과월  범주형  Cramér's V  0.001643
20     한도심사거절후경과월  범주형  Cramér's V  0.001467
21   시장단기연체여부_R6M  범주형  Cramér's V  0.001319
22   시장단기연체여부_R3M  범주형  Cramér's V  0.001096
19     한도심사요청후경과월  범주형  Cramér's V  0.000920
23   시장연체상환여부_R6M  범주형  Cramér's V  0.000322

모든 조합이 True라면 Segment마다 평균이 모두 달라 매우 유의미한 변수