In [3]:
# 기본
import pandas as pd  # 데이터프레임 처리
import numpy as np  # 수치 계산
import matplotlib.pyplot as plt  # 데이터 시각화
import seaborn as sns  # 고급 시각화

# 경고 뜨지 않게 설정
import warnings  # 경고 무시 설정
warnings.filterwarnings('ignore')

# 그래프 설정
sns.set()

# 그래프 기본 설정
plt.rcParams['font.family'] = 'Malgun Gothic'  # 한글 폰트 설정
# plt.rcParams['font.family'] = 'AppleGothic'
plt.rcParams['figure.figsize'] = 12, 6  # 그래프 크기 설정
plt.rcParams['font.size'] = 14  # 글자 크기
plt.rcParams['axes.unicode_minus'] = False  # 마이너스 깨짐 방지

### 데이터 준비

In [5]:
# parquet 파일 데이터를 읽어온다.
df1_test = pd.read_parquet('open/test/3.승인매출정보/201807_test_승인매출정보.parquet')
df2_test = pd.read_parquet('open/test/3.승인매출정보/201808_test_승인매출정보.parquet')
df3_test = pd.read_parquet('open/test/3.승인매출정보/201809_test_승인매출정보.parquet')
df4_test = pd.read_parquet('open/test/3.승인매출정보/201810_test_승인매출정보.parquet')
df5_test = pd.read_parquet('open/test/3.승인매출정보/201811_test_승인매출정보.parquet')
df6_test = pd.read_parquet('open/test/3.승인매출정보/201812_test_승인매출정보.parquet')

In [10]:

columns = [
    '기준년월', 'ID',
    '정상청구원금_B5M', '정상청구원금_B0M', '정상청구원금_B2M',
    '이용금액_일시불_R12M', '이용금액_일시불_B0M', '이용금액_오프라인_B0M',
    '이용금액_일시불_R6M', '이용금액_일시불_R3M', '정상입금원금_B5M',
    '정상입금원금_B0M', '이용금액_오프라인_R3M', '이용금액_오프라인_R6M',
    '정상입금원금_B2M', '_3순위업종_이용금액', '_2순위업종_이용금액',
    '이용건수_신용_R12M', '_2순위쇼핑업종_이용금액', '최대이용금액_일시불_R12M',
    '이용건수_신판_R12M', '이용건수_일시불_R12M', '_1순위업종_이용금액',
    '_3순위쇼핑업종_이용금액', '이용가맹점수', '이용건수_오프라인_B0M',
    '이용건수_오프라인_R6M', '이용건수_오프라인_R3M', '쇼핑_도소매_이용금액',
    '이용건수_신용_R6M', '이용건수_신용_B0M', '이용건수_신용_R3M',
    '이용건수_신판_R6M', '이용건수_신판_B0M', '이용건수_신판_R3M',
    '이용건수_일시불_R6M', '이용건수_일시불_B0M', '이용건수_일시불_R3M',
    '_1순위교통업종_이용금액', '연체입금원금_B0M', '쇼핑_마트_이용금액',
    '쇼핑_슈퍼마켓_이용금액', '교통_주유이용금액', '이용금액_온라인_B0M',
    '연체입금원금_B5M', '연체입금원금_B2M', '이용금액_페이_온라인_B0M',
    '_1순위쇼핑업종_이용금액', '연속유실적개월수_기본_24M_카드', '이용금액대'
]

In [12]:
df1_test = df1_test[columns]
df2_test = df2_test[columns]
df3_test = df3_test[columns]
df4_test = df4_test[columns]
df5_test = df5_test[columns]
df6_test = df6_test[columns]

In [14]:
all_df = pd.concat([df1_test, df2_test, df3_test, df4_test, df5_test, df6_test], axis=0, ignore_index=True)

In [16]:
all_df

,기준년월,ID,정상청구원금_B5M,정상청구원금_B0M,정상청구원금_B2M,이용금액_일시불_R12M,이용금액_일시불_B0M,이용금액_오프라인_B0M,이용금액_일시불_R6M,이용금액_일시불_R3M,...,쇼핑_마트_이용금액,쇼핑_슈퍼마켓_이용금액,교통_주유이용금액,이용금액_온라인_B0M,연체입금원금_B5M,연체입금원금_B2M,이용금액_페이_온라인_B0M,_1순위쇼핑업종_이용금액,연속유실적개월수_기본_24M_카드,이용금액대
0,201807,TEST_00000,3919,6495,2012,49063,7650,9877,26595,20503,...,854,350,1204,684,2414,840,1108,1393,5,02.50만원+
1,201807,TEST_00001,5723,9644,5273,7771,367,4006,-7578,-1832,...,1154,0,1278,1691,2959,763,1595,4463,8,02.50만원+
2,201807,TEST_00002,11267,11519,11366,73003,8547,11298,48483,25225,...,1064,1094,2022,0,0,0,0,1679,24,01.100만원+
3,201807,TEST_00003,0,1375,1072,7421,1270,976,403,2670,...,804,634,0,0,0,196,0,824,5,04.10만원+
4,201807,TEST_00004,1347,3951,1618,10493,709,4017,1238,2982,...,774,323,0,0,0,0,0,890,20,03.30만원+
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599995,201812,TEST_99995,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,09.미사용
599996,201812,TEST_99996,992,205,3736,2631,-121,407,3,-658,...,0,0,0,0,689,0,0,0,8,05.10만원-
599997,201812,TEST_99997,0,0,186,0,0,0,0,0,...,0,0,0,0,0,186,0,0,0,09.미사용
599998,201812,TEST_99998,27335,26308,23261,423882,22617,15388,133431,66757,...,1632,848,2584,7521,12448,9018,7716,50074,24,01.100만원+
599999,201812,TEST_99999,25,20,18,-885,-832,8,-4731,-2528,...,0,0,0,0,8,0,0,0,24,05.10만원-

In [15]:
all_df.columns

Index(['기준년월', 'ID', '정상청구원금_B5M', '정상청구원금_B0M', '정상청구원금_B2M', '이용금액_일시불_R12M',
       '이용금액_일시불_B0M', '이용금액_오프라인_B0M', '이용금액_일시불_R6M', '이용금액_일시불_R3M',
       '정상입금원금_B5M', '정상입금원금_B0M', '이용금액_오프라인_R3M', '이용금액_오프라인_R6M',
       '정상입금원금_B2M', '_3순위업종_이용금액', '_2순위업종_이용금액', '이용건수_신용_R12M',
       '_2순위쇼핑업종_이용금액', '최대이용금액_일시불_R12M', '이용건수_신판_R12M', '이용건수_일시불_R12M',
       '_1순위업종_이용금액', '_3순위쇼핑업종_이용금액', '이용가맹점수', '이용건수_오프라인_B0M',
       '이용건수_오프라인_R6M', '이용건수_오프라인_R3M', '쇼핑_도소매_이용금액', '이용건수_신용_R6M',
       '이용건수_신용_B0M', '이용건수_신용_R3M', '이용건수_신판_R6M', '이용건수_신판_B0M',
       '이용건수_신판_R3M', '이용건수_일시불_R6M', '이용건수_일시불_B0M', '이용건수_일시불_R3M',
       '_1순위교통업종_이용금액', '연체입금원금_B0M', '쇼핑_마트_이용금액', '쇼핑_슈퍼마켓_이용금액',
       '교통_주유이용금액', '이용금액_온라인_B0M', '연체입금원금_B5M', '연체입금원금_B2M',
       '이용금액_페이_온라인_B0M', '_1순위쇼핑업종_이용금액', '연속유실적개월수_기본_24M_카드', '이용금액대'],
      dtype='object')

In [18]:
print(len(all_df.columns))

50

In [20]:
all_df.to_parquet("승인매출정보_test.parquet", index=False)