In [1]:
# 기본
import pandas as pd  # 데이터프레임 처리
import numpy as np  # 수치 계산
import matplotlib.pyplot as plt  # 데이터 시각화
import seaborn as sns  # 고급 시각화

# 경고 뜨지 않게 설정
import warnings  # 경고 무시 설정
warnings.filterwarnings('ignore')

# 그래프 설정
sns.set()

# 그래프 기본 설정
plt.rcParams['font.family'] = 'Malgun Gothic'  # 한글 폰트 설정
# plt.rcParams['font.family'] = 'AppleGothic'
plt.rcParams['figure.figsize'] = 12, 6  # 그래프 크기 설정
plt.rcParams['font.size'] = 14  # 글자 크기
plt.rcParams['axes.unicode_minus'] = False  # 마이너스 깨짐 방지

### 데이터 준비

In [2]:
# parquet 파일 데이터를 읽어온다.
df1_train = pd.read_parquet('open/train/3.승인매출정보/201807_train_승인매출정보.parquet')
df2_train = pd.read_parquet('open/train/3.승인매출정보/201808_train_승인매출정보.parquet')
df3_train = pd.read_parquet('open/train/3.승인매출정보/201809_train_승인매출정보.parquet')
df4_train = pd.read_parquet('open/train/3.승인매출정보/201810_train_승인매출정보.parquet')
df5_train = pd.read_parquet('open/train/3.승인매출정보/201811_train_승인매출정보.parquet')
df6_train = pd.read_parquet('open/train/3.승인매출정보/201812_train_승인매출정보.parquet')

In [23]:

columns = [
    '기준년월', 'ID',
    '정상청구원금_B5M', '정상청구원금_B0M', '정상청구원금_B2M',
    '이용금액_일시불_R12M', '이용금액_일시불_B0M', '이용금액_오프라인_B0M',
    '이용금액_일시불_R6M', '이용금액_일시불_R3M', '정상입금원금_B5M',
    '정상입금원금_B0M', '이용금액_오프라인_R3M', '이용금액_오프라인_R6M',
    '정상입금원금_B2M', '_3순위업종_이용금액', '_2순위업종_이용금액',
    '이용건수_신용_R12M', '_2순위쇼핑업종_이용금액', '최대이용금액_일시불_R12M',
    '이용건수_신판_R12M', '이용건수_일시불_R12M', '_1순위업종_이용금액',
    '_3순위쇼핑업종_이용금액', '이용가맹점수', '이용건수_오프라인_B0M',
    '이용건수_오프라인_R6M', '이용건수_오프라인_R3M', '쇼핑_도소매_이용금액',
    '이용건수_신용_R6M', '이용건수_신용_B0M', '이용건수_신용_R3M',
    '이용건수_신판_R6M', '이용건수_신판_B0M', '이용건수_신판_R3M',
    '이용건수_일시불_R6M', '이용건수_일시불_B0M', '이용건수_일시불_R3M',
    '_1순위교통업종_이용금액', '연체입금원금_B0M', '쇼핑_마트_이용금액',
    '쇼핑_슈퍼마켓_이용금액', '교통_주유이용금액', '이용금액_온라인_B0M',
    '연체입금원금_B5M', '연체입금원금_B2M', '이용금액_페이_온라인_B0M',
    '_1순위쇼핑업종_이용금액', '연속유실적개월수_기본_24M_카드', '이용금액대'
]

In [25]:
df1_train = df1_train[columns]
df2_train = df1_train[columns]
df3_train = df1_train[columns]
df4_train = df1_train[columns]
df5_train = df1_train[columns]
df6_train = df1_train[columns]

In [27]:
all_df = pd.concat([df1_train, df2_train, df3_train, df4_train, df5_train, df6_train], axis=0, ignore_index=True)

In [29]:
all_df.columns

Index(['기준년월', 'ID', '정상청구원금_B5M', '정상청구원금_B0M', '정상청구원금_B2M', '이용금액_일시불_R12M',
       '이용금액_일시불_B0M', '이용금액_오프라인_B0M', '이용금액_일시불_R6M', '이용금액_일시불_R3M',
       '정상입금원금_B5M', '정상입금원금_B0M', '이용금액_오프라인_R3M', '이용금액_오프라인_R6M',
       '정상입금원금_B2M', '_3순위업종_이용금액', '_2순위업종_이용금액', '이용건수_신용_R12M',
       '_2순위쇼핑업종_이용금액', '최대이용금액_일시불_R12M', '이용건수_신판_R12M', '이용건수_일시불_R12M',
       '_1순위업종_이용금액', '_3순위쇼핑업종_이용금액', '이용가맹점수', '이용건수_오프라인_B0M',
       '이용건수_오프라인_R6M', '이용건수_오프라인_R3M', '쇼핑_도소매_이용금액', '이용건수_신용_R6M',
       '이용건수_신용_B0M', '이용건수_신용_R3M', '이용건수_신판_R6M', '이용건수_신판_B0M',
       '이용건수_신판_R3M', '이용건수_일시불_R6M', '이용건수_일시불_B0M', '이용건수_일시불_R3M',
       '_1순위교통업종_이용금액', '연체입금원금_B0M', '쇼핑_마트_이용금액', '쇼핑_슈퍼마켓_이용금액',
       '교통_주유이용금액', '이용금액_온라인_B0M', '연체입금원금_B5M', '연체입금원금_B2M',
       '이용금액_페이_온라인_B0M', '_1순위쇼핑업종_이용금액', '연속유실적개월수_기본_24M_카드', '이용금액대'],
      dtype='object')

In [31]:
print(len(all_df.columns))

50

In [35]:
all_df.to_csv("승인매출정보_변수추출_1차.csv", index=False, encoding='utf-8-sig')

In [37]:
all_df

,기준년월,ID,정상청구원금_B5M,정상청구원금_B0M,정상청구원금_B2M,이용금액_일시불_R12M,이용금액_일시불_B0M,이용금액_오프라인_B0M,이용금액_일시불_R6M,이용금액_일시불_R3M,...,쇼핑_마트_이용금액,쇼핑_슈퍼마켓_이용금액,교통_주유이용금액,이용금액_온라인_B0M,연체입금원금_B5M,연체입금원금_B2M,이용금액_페이_온라인_B0M,_1순위쇼핑업종_이용금액,연속유실적개월수_기본_24M_카드,이용금액대
0,201807,TRAIN_000000,14958,14440,16524,20667,1995,4043,8380,2877,...,0,0,0,0,5752,398,0,242,13,01.100만원+
1,201807,TRAIN_000001,3367,6024,2420,54341,2862,3980,19426,14316,...,0,435,1215,0,821,0,0,645,12,03.30만원+
2,201807,TRAIN_000002,23963,21929,21826,55656,5854,4524,35136,15694,...,924,504,1362,1625,7014,7378,0,6094,8,01.100만원+
3,201807,TRAIN_000003,19614,18563,19172,10753,387,3975,-7031,-2710,...,801,487,0,0,11196,6128,0,801,5,01.100만원+
4,201807,TRAIN_000004,0,0,272,-2129,0,0,957,-3383,...,0,0,0,0,0,272,0,0,0,09.미사용
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399995,201807,TRAIN_399995,579,0,0,0,0,0,0,-1274,...,0,0,0,0,579,0,0,0,0,09.미사용
2399996,201807,TRAIN_399996,30348,23742,20929,207754,12988,12312,99067,49255,...,0,786,0,0,0,5173,0,2802,20,01.100만원+
2399997,201807,TRAIN_399997,11489,4125,8746,37349,4363,9739,16136,7729,...,0,407,1742,681,6360,2561,0,1140,24,02.50만원+
2399998,201807,TRAIN_399998,672,507,467,0,0,0,0,-441,...,0,0,0,0,672,467,0,0,0,09.미사용
2399999,201807,TRAIN_399999,7368,4514,6862,22727,3415,4537,14253,6857,...,1190,0,0,0,2392,0,0,1190,1,02.50만원+