In [18]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 

import warnings 
warnings.filterwarnings('ignore')

sns.set() 

plt.rcParams['font.family'] = 'Malgun Gothic'
plt.rcParams['figure.figsize'] = 12, 6 
plt.rcParams['font.size'] = 14 
plt.rcParams['axes.unicode_minus'] = False 

# 결측치 시각화를 위한 라이브러리
import missingno 

# 데이터 전처리 알고리즘 
from sklearn.preprocessing import LabelEncoder 
from sklearn.preprocessing import StandardScaler 

# 학습용과 검증용으로 나누는  함수 
from sklearn.model_selection import train_test_split 

# 교차검증 
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_validate
from sklearn.model_selection import KFold
from sklearn.model_selection import StratifiedKFold

# 평가함수
# 분류용
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import roc_auc_score

# 회귀용
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

# 모델의 최적의 하이퍼 파라미터를 찾기 위한도구 
from sklearn.model_selection import GridSearchCV 

# 머신러닝 알고리즘 - 분류 
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression 
from sklearn.svm import SVC 
from sklearn.tree import DecisionTreeClassifier 
from sklearn.ensemble import RandomForestClassifier 
from sklearn.ensemble import AdaBoostClassifier 
from sklearn.ensemble import GradientBoostingClassifier 
from lightgbm import LGBMClassifier 
from xgboost import XGBClassifier 
from sklearn.ensemble import VotingClassifier

# 머신러닝 알고리즘 - 회귀 
from sklearn.neighbors import KNeighborsRegressor 
from sklearn.linear_model import LinearRegression 
from sklearn.linear_model import Ridge 
from sklearn.linear_model import Lasso 
from sklearn.linear_model import ElasticNet 
from sklearn.svm import SVR 
from sklearn.tree import DecisionTreeRegressor 
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor 
from sklearn.ensemble import GradientBoostingRegressor 
from lightgbm import LGBMRegressor 
from xgboost import XGBRegressor 
from sklearn.ensemble import VotingRegressor 

# 학습 모델 저장을 위한 라이브러리
import pickle

데이터 불러오기

In [19]:
# parque 데이터를 읽어온다. 
df1_train = pd.read_parquet(r'C:\Users\SAMSUNG\OneDrive\바탕 화면\파이널 프로젝트 데이터\train\3.승인매출정보\201807_train_승인매출정보.parquet')
df2_train = pd.read_parquet(r'C:\Users\SAMSUNG\OneDrive\바탕 화면\파이널 프로젝트 데이터\train\3.승인매출정보\201808_train_승인매출정보.parquet')
df3_train = pd.read_parquet(r'C:\Users\SAMSUNG\OneDrive\바탕 화면\파이널 프로젝트 데이터\train\3.승인매출정보\201809_train_승인매출정보.parquet')
df4_train = pd.read_parquet(r'C:\Users\SAMSUNG\OneDrive\바탕 화면\파이널 프로젝트 데이터\train\3.승인매출정보\201810_train_승인매출정보.parquet')
df5_train = pd.read_parquet(r'C:\Users\SAMSUNG\OneDrive\바탕 화면\파이널 프로젝트 데이터\train\3.승인매출정보\201811_train_승인매출정보.parquet')
df6_train = pd.read_parquet(r'C:\Users\SAMSUNG\OneDrive\바탕 화면\파이널 프로젝트 데이터\train\3.승인매출정보\201812_train_승인매출정보.parquet')

In [20]:
# 결과데이터를 불러온다. 
segment_df = pd.read_csv(r'C:\Users\SAMSUNG\OneDrive\바탕 화면\파이널 프로젝트 데이터\Segment\Segment.csv')
segment_df

           기준년월            ID Segment
0        201807  TRAIN_000000       D
1        201807  TRAIN_000001       E
2        201807  TRAIN_000002       C
3        201807  TRAIN_000003       D
4        201807  TRAIN_000004       E
...         ...           ...     ...
2399995  201812  TRAIN_399995       E
2399996  201812  TRAIN_399996       D
2399997  201812  TRAIN_399997       C
2399998  201812  TRAIN_399998       E
2399999  201812  TRAIN_399999       E

[2400000 rows x 3 columns]

In [28]:
# 데이터프레임의 칼럼이름을 리스트에 담는다. 
column_list = df1_train.columns.tolist()
print(column_list)

['기준년월', 'ID', '최종이용일자_기본', '최종이용일자_신판', '최종이용일자_CA', '최종이용일자_카드론', '최종이용일자_체크', '최종이용일자_일시불', '최종이용일자_할부', '이용건수_신용_B0M', '이용건수_신판_B0M', '이용건수_일시불_B0M', '이용건수_할부_B0M', '이용건수_할부_유이자_B0M', '이용건수_할부_무이자_B0M', '이용건수_부분무이자_B0M', '이용건수_CA_B0M', '이용건수_체크_B0M', '이용건수_카드론_B0M', '이용금액_일시불_B0M', '이용금액_할부_B0M', '이용금액_할부_유이자_B0M', '이용금액_할부_무이자_B0M', '이용금액_부분무이자_B0M', '이용금액_CA_B0M', '이용금액_체크_B0M', '이용금액_카드론_B0M', '이용후경과월_신용', '이용후경과월_신판', '이용후경과월_일시불', '이용후경과월_할부', '이용후경과월_할부_유이자', '이용후경과월_할부_무이자', '이용후경과월_부분무이자', '이용후경과월_CA', '이용후경과월_체크', '이용후경과월_카드론', '이용건수_신용_R12M', '이용건수_신판_R12M', '이용건수_일시불_R12M', '이용건수_할부_R12M', '이용건수_할부_유이자_R12M', '이용건수_할부_무이자_R12M', '이용건수_부분무이자_R12M', '이용건수_CA_R12M', '이용건수_체크_R12M', '이용건수_카드론_R12M', '이용금액_일시불_R12M', '이용금액_할부_R12M', '이용금액_할부_유이자_R12M', '이용금액_할부_무이자_R12M', '이용금액_부분무이자_R12M', '이용금액_CA_R12M', '이용금액_체크_R12M', '이용금액_카드론_R12M', '최대이용금액_일시불_R12M', '최대이용금액_할부_R12M', '최대이용금액_할부_유이자_R12M', '최대이용금액_할부_무이자_R12M', '최대이용금액_부분무이자_R12M', '최대이용금액_CA_R12M', '최대이용금액_체크_R12M', '최대이용금액_카드론_R12M', '이용개월수_신용_R12M', '이용개월수_신판_R12M', '이용개월수_일시불_R12M', '이용개월수_할부_R12M', '이용개월수_할부_유이자_R12M', '이용개월수_할부_무이자_R12M', '이용개월수_부분무이자_R12M', '이용개월수_CA_R12M', '이용개월수_체크_R12M', '이용개월수_카드론_R12M', '이용건수_신용_R6M', '이용건수_신판_R6M', '이용건수_일시불_R6M', '이용건수_할부_R6M', '이용건수_할부_유이자_R6M', '이용건수_할부_무이자_R6M', '이용건수_부분무이자_R6M', '이용건수_CA_R6M', '이용건수_체크_R6M', '이용건수_카드론_R6M', '이용금액_일시불_R6M', '이용금액_할부_R6M', '이용금액_할부_유이자_R6M', '이용금액_할부_무이자_R6M', '이용금액_부분무이자_R6M', '이용금액_CA_R6M', '이용금액_체크_R6M', '이용금액_카드론_R6M', '이용개월수_신용_R6M', '이용개월수_신판_R6M', '이용개월수_일시불_R6M', '이용개월수_할부_R6M', '이용개월수_할부_유이자_R6M', '이용개월수_할부_무이자_R6M', '이용개월수_부분무이자_R6M', '이용개월수_CA_R6M', '이용개월수_체크_R6M', '이용개월수_카드론_R6M', '이용건수_신용_R3M', '이용건수_신판_R3M', '이용건수_일시불_R3M', '이용건수_할부_R3M', '이용건수_할부_유이자_R3M', '이용건수_할부_무이자_R3M', '이용건수_부분무이자_R3M', '이용건수_CA_R3M', '이용건수_체크_R3M', '이용건수_카드론_R3M', '이용금액_일시불_R3M', '이용금액_할부_R3M', '이용금액_할부_유이자_R3M', '이용금액_할부_무이자_R3M', '이용금액_부분무이자_R3M', '이용금액_CA_R3M', '이용금액_체크_R3M', '이용금액_카드론_R3M', '이용개월수_신용_R3M', '이용개월수_신판_R3M', '이용개월수_일시불_R3M', '이용개월수_할부_R3M', '이용개월수_할부_유이자_R3M', '이용개월수_할부_무이자_R3M', '이용개월수_부분무이자_R3M', '이용개월수_CA_R3M', '이용개월수_체크_R3M', '이용개월수_카드론_R3M', '이용가맹점수', '이용금액_해외', '쇼핑_도소매_이용금액', '쇼핑_백화점_이용금액', '쇼핑_마트_이용금액', '쇼핑_슈퍼마켓_이용금액', '쇼핑_편의점_이용금액', '쇼핑_아울렛_이용금액', '쇼핑_온라인_이용금액', '쇼핑_기타_이용금액', '교통_주유이용금액', '교통_정비이용금액', '교통_통행료이용금액', '교통_버스지하철이용금액', '교통_택시이용금액', '교통_철도버스이용금액', '여유_운동이용금액', '여유_Pet이용금액', '여유_공연이용금액', '여유_공원이용금액', '여유_숙박이용금액', '여유_여행이용금액', '여유_항공이용금액', '여유_기타이용금액', '납부_통신비이용금액', '납부_관리비이용금액', '납부_렌탈료이용금액', '납부_가스전기료이용금액', '납부_보험료이용금액', '납부_유선방송이용금액', '납부_건강연금이용금액', '납부_기타이용금액', '_1순위업종', '_1순위업종_이용금액', '_2순위업종', '_2순위업종_이용금액', '_3순위업종', '_3순위업종_이용금액', '_1순위쇼핑업종', '_1순위쇼핑업종_이용금액', '_2순위쇼핑업종', '_2순위쇼핑업종_이용금액', '_3순위쇼핑업종', '_3순위쇼핑업종_이용금액', '_1순위교통업종', '_1순위교통업종_이용금액', '_2순위교통업종', '_2순위교통업종_이용금액', '_3순위교통업종', '_3순위교통업종_이용금액', '_1순위여유업종', '_1순위여유업종_이용금액', '_2순위여유업종', '_2순위여유업종_이용금액', '_3순위여유업종', '_3순위여유업종_이용금액', '_1순위납부업종', '_1순위납부업종_이용금액', '_2순위납부업종', '_2순위납부업종_이용금액', '_3순위납부업종', '_3순위납부업종_이용금액', '할부건수_3M_R12M', '할부건수_6M_R12M', '할부건수_12M_R12M', '할부건수_14M_R12M', '할부금액_3M_R12M', '할부금액_6M_R12M', '할부금액_12M_R12M', '할부금액_14M_R12M', '할부건수_유이자_3M_R12M', '할부건수_유이자_6M_R12M', '할부건수_유이자_12M_R12M', '할부건수_유이자_14M_R12M', '할부금액_유이자_3M_R12M', '할부금액_유이자_6M_R12M', '할부금액_유이자_12M_R12M', '할부금액_유이자_14M_R12M', '할부건수_무이자_3M_R12M', '할부건수_무이자_6M_R12M', '할부건수_무이자_12M_R12M', '할부건수_무이자_14M_R12M', '할부금액_무이자_3M_R12M', '할부금액_무이자_6M_R12M', '할부금액_무이자_12M_R12M', '할부금액_무이자_14M_R12M', '할부건수_부분_3M_R12M', '할부건수_부분_6M_R12M', '할부건수_부분_12M_R12M', '할부건수_부분_14M_R12M', '할부금액_부분_3M_R12M', '할부금액_부분_6M_R12M', '할부금액_부분_12M_R12M', '할부금액_부분_14M_R12M', 'RP건수_B0M', 'RP금액_B0M', 'RP유형건수_B0M', 'RP건수_통신_B0M', 'RP건수_아파트_B0M', 'RP건수_제휴사서비스직접판매_B0M', 'RP건수_렌탈_B0M', 'RP건수_가스_B0M', 'RP건수_전기_B0M', 'RP건수_보험_B0M', 'RP건수_학습비_B0M', 'RP건수_유선방송_B0M', 'RP건수_건강_B0M', 'RP건수_교통_B0M', 'RP후경과월', 'RP후경과월_통신', 'RP후경과월_아파트', 'RP후경과월_제휴사서비스직접판매', 'RP후경과월_렌탈', 'RP후경과월_가스', 'RP후경과월_전기', 'RP후경과월_보험', 'RP후경과월_학습비', 'RP후경과월_유선방송', 'RP후경과월_건강', 'RP후경과월_교통', '증감_RP건수_전월', '증감_RP유형건수_전월', '증감_RP건수_통신_전월', '증감_RP건수_아파트_전월', '증감_RP건수_제휴사서비스직접판매_전월', '증감_RP건수_렌탈_전월', '증감_RP건수_가스_전월', '증감_RP건수_전기_전월', '증감_RP건수_보험_전월', '증감_RP건수_학습비_전월', '증감_RP건수_유선방송_전월', '증감_RP건수_건강_전월', '증감_RP건수_교통_전월', '최초카드론이용경과월', '최종카드론이용경과월', '카드론이용건수_누적', '카드론이용월수_누적', '카드론이용금액_누적', '최종카드론_금융상환방식코드', '최종카드론_신청경로코드', '최종카드론_대출이율', '최종카드론_대출일자', '최종카드론_대출월수', '최종카드론_거치개월수', '최종카드론_대출금액', '이용개월수_온라인_R6M', '이용개월수_오프라인_R6M', '이용금액_온라인_R6M', '이용금액_오프라인_R6M', '이용건수_온라인_R6M', '이용건수_오프라인_R6M', '이용금액_온라인_R3M', '이용금액_오프라인_R3M', '이용건수_온라인_R3M', '이용건수_오프라인_R3M', '이용금액_온라인_B0M', '이용금액_오프라인_B0M', '이용건수_온라인_B0M', '이용건수_오프라인_B0M', '이용개월수_페이_온라인_R6M', '이용개월수_페이_오프라인_R6M', '이용금액_페이_온라인_R6M', '이용금액_페이_오프라인_R6M', '이용건수_페이_온라인_R6M', '이용건수_페이_오프라인_R6M', '이용금액_페이_온라인_R3M', '이용금액_페이_오프라인_R3M', '이용건수_페이_온라인_R3M', '이용건수_페이_오프라인_R3M', '이용금액_페이_온라인_B0M', '이용금액_페이_오프라인_B0M', '이용건수_페이_온라인_B0M', '이용건수_페이_오프라인_B0M', '이용개월수_간편결제_R6M', '이용개월수_당사페이_R6M', '이용개월수_당사기타_R6M', '이용개월수_A페이_R6M', '이용개월수_B페이_R6M', '이용개월수_C페이_R6M', '이용개월수_D페이_R6M', '이용금액_간편결제_R6M', '이용금액_당사페이_R6M', '이용금액_당사기타_R6M', '이용금액_A페이_R6M', '이용금액_B페이_R6M', '이용금액_C페이_R6M', '이용금액_D페이_R6M', '이용건수_간편결제_R6M', '이용건수_당사페이_R6M', '이용건수_당사기타_R6M', '이용건수_A페이_R6M', '이용건수_B페이_R6M', '이용건수_C페이_R6M', '이용건수_D페이_R6M', '이용금액_간편결제_R3M', '이용금액_당사페이_R3M', '이용금액_당사기타_R3M', '이용금액_A페이_R3M', '이용금액_B페이_R3M', '이용금액_C페이_R3M', '이용금액_D페이_R3M', '이용건수_간편결제_R3M', '이용건수_당사페이_R3M', '이용건수_당사기타_R3M', '이용건수_A페이_R3M', '이용건수_B페이_R3M', '이용건수_C페이_R3M', '이용건수_D페이_R3M', '이용금액_간편결제_B0M', '이용금액_당사페이_B0M', '이용금액_당사기타_B0M', '이용금액_A페이_B0M', '이용금액_B페이_B0M', '이용금액_C페이_B0M', '이용금액_D페이_B0M', '이용건수_간편결제_B0M', '이용건수_당사페이_B0M', '이용건수_당사기타_B0M', '이용건수_A페이_B0M', '이용건수_B페이_B0M', '이용건수_C페이_B0M', '이용건수_D페이_B0M', '이용개월수_선결제_R6M', '이용횟수_선결제_R6M', '이용금액_선결제_R6M', '이용건수_선결제_R6M', '이용횟수_선결제_R3M', '이용금액_선결제_R3M', '이용건수_선결제_R3M', '이용횟수_선결제_B0M', '이용금액_선결제_B0M', '이용건수_선결제_B0M', '이용횟수_연체_R6M', '이용금액_연체_R6M', '이용횟수_연체_R3M', '이용금액_연체_R3M', '이용횟수_연체_B0M', '이용금액_연체_B0M', '이용개월수_전체_R6M', '이용개월수_전체_R3M', '이용개월수_결제일_R6M', '이용개월수_결제일_R3M', '가맹점매출금액_B1M', '가맹점매출금액_B2M', '정상청구원금_B0M', '선입금원금_B0M', '정상입금원금_B0M', '연체입금원금_B0M', '정상청구원금_B2M', '선입금원금_B2M', '정상입금원금_B2M', '연체입금원금_B2M', '정상청구원금_B5M', '선입금원금_B5M', '정상입금원금_B5M', '연체입금원금_B5M', '건수_할부전환_R6M', '건수_할부전환_R3M', '금액_할부전환_R6M', '금액_할부전환_R3M', '연속무실적개월수_기본_24M_카드', '연속유실적개월수_기본_24M_카드', '신청건수_ATM_CA_B0', '신청건수_ATM_CL_B0', '신청건수_ATM_CA_R6M', '신청건수_ATM_CL_R6M', '승인거절건수_B0M', '승인거절건수_한도초과_B0M', '승인거절건수_BL_B0M', '승인거절건수_입력오류_B0M', '승인거절건수_기타_B0M', '승인거절건수_R3M', '승인거절건수_한도초과_R3M', '승인거절건수_BL_R3M', '승인거절건수_입력오류_R3M', '승인거절건수_기타_R3M', '이용금액대']

In [29]:
print(len(column_list))

406

In [30]:
column_list = column_list[309:]

In [35]:
print(column_list)

['이용금액_간편결제_R6M', '이용금액_당사페이_R6M', '이용금액_당사기타_R6M', '이용금액_A페이_R6M', '이용금액_B페이_R6M', '이용금액_C페이_R6M', '이용금액_D페이_R6M', '이용건수_간편결제_R6M', '이용건수_당사페이_R6M', '이용건수_당사기타_R6M', '이용건수_A페이_R6M', '이용건수_B페이_R6M', '이용건수_C페이_R6M', '이용건수_D페이_R6M', '이용금액_간편결제_R3M', '이용금액_당사페이_R3M', '이용금액_당사기타_R3M', '이용금액_A페이_R3M', '이용금액_B페이_R3M', '이용금액_C페이_R3M', '이용금액_D페이_R3M', '이용건수_간편결제_R3M', '이용건수_당사페이_R3M', '이용건수_당사기타_R3M', '이용건수_A페이_R3M', '이용건수_B페이_R3M', '이용건수_C페이_R3M', '이용건수_D페이_R3M', '이용금액_간편결제_B0M', '이용금액_당사페이_B0M', '이용금액_당사기타_B0M', '이용금액_A페이_B0M', '이용금액_B페이_B0M', '이용금액_C페이_B0M', '이용금액_D페이_B0M', '이용건수_간편결제_B0M', '이용건수_당사페이_B0M', '이용건수_당사기타_B0M', '이용건수_A페이_B0M', '이용건수_B페이_B0M', '이용건수_C페이_B0M', '이용건수_D페이_B0M', '이용개월수_선결제_R6M', '이용횟수_선결제_R6M', '이용금액_선결제_R6M', '이용건수_선결제_R6M', '이용횟수_선결제_R3M', '이용금액_선결제_R3M', '이용건수_선결제_R3M', '이용횟수_선결제_B0M', '이용금액_선결제_B0M', '이용건수_선결제_B0M', '이용횟수_연체_R6M', '이용금액_연체_R6M', '이용횟수_연체_R3M', '이용금액_연체_R3M', '이용횟수_연체_B0M', '이용금액_연체_B0M', '이용개월수_전체_R6M', '이용개월수_전체_R3M', '이용개월수_결제일_R6M', '이용개월수_결제일_R3M', '가맹점매출금액_B1M', '가맹점매출금액_B2M', '정상청구원금_B0M', '선입금원금_B0M', '정상입금원금_B0M', '연체입금원금_B0M', '정상청구원금_B2M', '선입금원금_B2M', '정상입금원금_B2M', '연체입금원금_B2M', '정상청구원금_B5M', '선입금원금_B5M', '정상입금원금_B5M', '연체입금원금_B5M', '건수_할부전환_R6M', '건수_할부전환_R3M', '금액_할부전환_R6M', '금액_할부전환_R3M', '연속무실적개월수_기본_24M_카드', '연속유실적개월수_기본_24M_카드', '신청건수_ATM_CA_B0', '신청건수_ATM_CL_B0', '신청건수_ATM_CA_R6M', '신청건수_ATM_CL_R6M', '승인거절건수_B0M', '승인거절건수_한도초과_B0M', '승인거절건수_BL_B0M', '승인거절건수_입력오류_B0M', '승인거절건수_기타_B0M', '승인거절건수_R3M', '승인거절건수_한도초과_R3M', '승인거절건수_BL_R3M', '승인거절건수_입력오류_R3M', '승인거절건수_기타_R3M', '이용금액대']

In [36]:
print(len(column_list))

97

In [33]:
df1_train = df1_train[column_list]

In [34]:
df2_train = df2_train[column_list]
df3_train = df3_train[column_list]
df4_train = df3_train[column_list]
df5_train = df5_train[column_list]
df6_train = df6_train[column_list]

In [37]:
combined_df = pd.concat([df1_train, df2_train, df3_train, df4_train, df5_train, df6_train],
                        axis=0, 
                        ignore_index=True)

In [38]:
# 세그먼트와 데이터를 합쳐준다. 

all_df = pd.concat([segment_df, combined_df], axis=1)
all_df

,기준년월,ID,Segment,이용금액_간편결제_R6M,이용금액_당사페이_R6M,이용금액_당사기타_R6M,이용금액_A페이_R6M,이용금액_B페이_R6M,이용금액_C페이_R6M,이용금액_D페이_R6M,...,승인거절건수_한도초과_B0M,승인거절건수_BL_B0M,승인거절건수_입력오류_B0M,승인거절건수_기타_B0M,승인거절건수_R3M,승인거절건수_한도초과_R3M,승인거절건수_BL_R3M,승인거절건수_입력오류_R3M,승인거절건수_기타_R3M,이용금액대
0,201807,TRAIN_000000,D,0,0,0,0,0,0,0,...,0,0,0,0,3,3,0,0,0,01.100만원+
1,201807,TRAIN_000001,E,0,0,0,0,0,0,0,...,0,0,0,0,3,3,0,0,0,03.30만원+
2,201807,TRAIN_000002,C,5647,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,01.100만원+
3,201807,TRAIN_000003,D,0,0,0,0,0,0,0,...,0,0,0,0,3,3,0,0,0,01.100만원+
4,201807,TRAIN_000004,E,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,09.미사용
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399995,201812,TRAIN_399995,E,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,09.미사용
2399996,201812,TRAIN_399996,D,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,01.100만원+
2399997,201812,TRAIN_399997,C,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,02.50만원+
2399998,201812,TRAIN_399998,E,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,09.미사용
2399999,201812,TRAIN_399999,E,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,04.10만원+

In [ ]:
# 결측치
print(all_df.isna().sum().to_string())

기준년월                  0
ID                    0
Segment               0
이용금액_간편결제_R6M         0
이용금액_당사페이_R6M         0
이용금액_당사기타_R6M         0
이용금액_A페이_R6M          0
이용금액_B페이_R6M          0
이용금액_C페이_R6M          0
이용금액_D페이_R6M          0
이용건수_간편결제_R6M         0
이용건수_당사페이_R6M         0
이용건수_당사기타_R6M         0
이용건수_A페이_R6M          0
이용건수_B페이_R6M          0
이용건수_C페이_R6M          0
이용건수_D페이_R6M          0
이용금액_간편결제_R3M         0
이용금액_당사페이_R3M         0
이용금액_당사기타_R3M         0
이용금액_A페이_R3M          0
이용금액_B페이_R3M          0
이용금액_C페이_R3M          0
이용금액_D페이_R3M          0
이용건수_간편결제_R3M         0
이용건수_당사페이_R3M         0
이용건수_당사기타_R3M         0
이용건수_A페이_R3M          0
이용건수_B페이_R3M          0
이용건수_C페이_R3M          0
이용건수_D페이_R3M          0
이용금액_간편결제_B0M         0
이용금액_당사페이_B0M         0
이용금액_당사기타_B0M         0
이용금액_A페이_B0M          0
이용금액_B페이_B0M          0
이용금액_C페이_B0M          0
이용금액_D페이_B0M          0
이용건수_간편결제_B0M         0
이용건수_당사페이_B0M         0
이용건수_당사기타_B0M         0
이용건수_A페이_B0M          0
이용건수_B페이_B0M          0
이용건수_C페이_B0M          0
이용건수_D페이_B0M          0
이용개월수_선결제_R6M         0
이용횟수_선결제_R6M          0
이용금액_선결제_R6M          0
이용건수_선결제_R6M          0
이용횟수_선결제_R3M          0
이용금액_선결제_R3M          0
이용건수_선결제_R3M          0
이용횟수_선결제_B0M          0
이용금액_선결제_B0M          0
이용건수_선결제_B0M          0
이용횟수_연체_R6M           0
이용금액_연체_R6M           0
이용횟수_연체_R3M           0
이용금액_연체_R3M           0
이용횟수_연체_B0M           0
이용금액_연체_B0M           0
이용개월수_전체_R6M          0
이용개월수_전체_R3M          0
이용개월수_결제일_R6M         0
이용개월수_결제일_R3M         0
가맹점매출금액_B1M           0
가맹점매출금액_B2M           0
정상청구원금_B0M            0
선입금원금_B0M             0
정상입금원금_B0M            0
연체입금원금_B0M            0
정상청구원금_B2M            0
선입금원금_B2M             0
정상입금원금_B2M            0
연체입금원금_B2M            0
정상청구원금_B5M            0
선입금원금_B5M             0
정상입금원금_B5M            0
연체입금원금_B5M            0
건수_할부전환_R6M           0
건수_할부전환_R3M           0
금액_할부전환_R6M           0
금액_할부전환_R3M           0
연속무실적개월수_기본_24M_카드    0
연속유실적개월수_기본_24M_카드    0
신청건수_ATM_CA_B0        0
신청건수_ATM_CL_B0        0
신청건수_ATM_CA_R6M       0
신청건수_ATM_CL_R6M       0
승인거절건수_B0M            0
승인거절건수_한도초과_B0M       0
승인거절건수_BL_B0M         0
승인거절건수_입력오류_B0M       0
승인거절건수_기타_B0M         0
승인거절건수_R3M            0
승인거절건수_한도초과_R3M       0
승인거절건수_BL_R3M         0
승인거절건수_입력오류_R3M       0
승인거절건수_기타_R3M         0
이용금액대                 0

In [54]:
for col in column_list:
    try:
        var_value = all_df[col].var()
        print(f"{col}: {var_value:.2f}")
    except TypeError:
        print(f"❌ 분산 계산 불가 (문자열 포함): {col}")

이용금액_간편결제_R6M: 129859295.40
이용금액_당사페이_R6M: 0.00
이용금액_당사기타_R6M: 0.00
이용금액_A페이_R6M: 16033534.46
이용금액_B페이_R6M: 97856.41
이용금액_C페이_R6M: 38372.58
이용금액_D페이_R6M: 13540.55
이용건수_간편결제_R6M: 29.34
이용건수_당사페이_R6M: 0.00
이용건수_당사기타_R6M: 0.00
이용건수_A페이_R6M: 3.16
이용건수_B페이_R6M: 0.13
이용건수_C페이_R6M: 0.12
이용건수_D페이_R6M: 0.04
이용금액_간편결제_R3M: 20066487.50
이용금액_당사페이_R3M: 0.00
이용금액_당사기타_R3M: 0.00
이용금액_A페이_R3M: 2647995.83
이용금액_B페이_R3M: 41189.72
이용금액_C페이_R3M: 20845.88
이용금액_D페이_R3M: 3527.15
이용건수_간편결제_R3M: 8.25
이용건수_당사페이_R3M: 0.00
이용건수_당사기타_R3M: 0.00
이용건수_A페이_R3M: 0.65
이용건수_B페이_R3M: 0.10
이용건수_C페이_R3M: 0.08
이용건수_D페이_R3M: 0.02
이용금액_간편결제_B0M: 1629026.50
이용금액_당사페이_B0M: 0.00
이용금액_당사기타_B0M: 0.00
이용금액_A페이_B0M: 240964.91
이용금액_B페이_B0M: 6093.97
이용금액_C페이_B0M: 3698.30
이용금액_D페이_B0M: 281.30
이용건수_간편결제_B0M: 1.02
이용건수_당사페이_B0M: 0.00
이용건수_당사기타_B0M: 0.00
이용건수_A페이_B0M: 0.06
이용건수_B페이_B0M: 0.01
이용건수_C페이_B0M: 0.02
이용건수_D페이_B0M: 0.00
이용개월수_선결제_R6M: 1.08
이용횟수_선결제_R6M: 3.32
이용금액_선결제_R6M: 70356565.70
이용건수_선결제_R6M: 1514.50
이용횟수_선결제_R3M: 1.11
이용금액_선결제_R3M: 12545529.67
이용건수_선결제_R3M: 299.46
이용횟수_선결제_B0M: 0.15
이용금액_선결제_B0M: 1322185.96
이용건수_선결제_B0M: 36.33
이용횟수_연체_R6M: 0.75
이용금액_연체_R6M: 7813291.33
이용횟수_연체_R3M: 0.17
이용금액_연체_R3M: 1057467.18
이용횟수_연체_B0M: 0.02
이용금액_연체_B0M: 94597.46
이용개월수_전체_R6M: 5.76
이용개월수_전체_R3M: 1.55
이용개월수_결제일_R6M: 6.16
이용개월수_결제일_R3M: 1.68
가맹점매출금액_B1M: 1988615.77
가맹점매출금액_B2M: 1936855.48
정상청구원금_B0M: 41964772.84
선입금원금_B0M: 2310684.88
정상입금원금_B0M: 26160000.08
연체입금원금_B0M: 6863646.85
정상청구원금_B2M: 46059506.70
선입금원금_B2M: 2433033.79
정상입금원금_B2M: 29961264.07
연체입금원금_B2M: 7846672.05
정상청구원금_B5M: 49469145.88
선입금원금_B5M: 2468906.16
정상입금원금_B5M: 35372883.98
연체입금원금_B5M: 8343749.80
건수_할부전환_R6M: 0.64
건수_할부전환_R3M: 0.25
금액_할부전환_R6M: 761159.16
금액_할부전환_R3M: 276858.68
연속무실적개월수_기본_24M_카드: 22.90
연속유실적개월수_기본_24M_카드: 95.58
신청건수_ATM_CA_B0: 0.14
신청건수_ATM_CL_B0: 0.00
신청건수_ATM_CA_R6M: 3.63
신청건수_ATM_CL_R6M: 0.00
승인거절건수_B0M: 0.01
승인거절건수_한도초과_B0M: 0.01
승인거절건수_BL_B0M: 0.00
승인거절건수_입력오류_B0M: 0.00
승인거절건수_기타_B0M: 0.00
승인거절건수_R3M: 0.34
승인거절건수_한도초과_R3M: 0.19
승인거절건수_BL_R3M: 0.05
승인거절건수_입력오류_R3M: 0.00
승인거절건수_기타_R3M: 0.06
❌ 분산 계산 불가 (문자열 포함): 이용금액대

In [65]:
zero_var_cols = [col for col in column_list if df1_train[col].nunique() <= 1]
print("값이 하나인 칼럼들:", zero_var_cols)

값이 하나인 칼럼들: ['이용금액_당사페이_R6M', '이용금액_당사기타_R6M', '이용건수_당사페이_R6M', '이용건수_당사기타_R6M', '이용금액_당사페이_R3M', '이용금액_당사기타_R3M', '이용건수_당사페이_R3M', '이용건수_당사기타_R3M', '이용금액_당사페이_B0M', '이용금액_당사기타_B0M', '이용건수_당사페이_B0M', '이용건수_당사기타_B0M', '승인거절건수_입력오류_B0M', '승인거절건수_기타_B0M']

In [66]:
zero_var_cols

['이용금액_당사페이_R6M',
 '이용금액_당사기타_R6M',
 '이용건수_당사페이_R6M',
 '이용건수_당사기타_R6M',
 '이용금액_당사페이_R3M',
 '이용금액_당사기타_R3M',
 '이용건수_당사페이_R3M',
 '이용건수_당사기타_R3M',
 '이용금액_당사페이_B0M',
 '이용금액_당사기타_B0M',
 '이용건수_당사페이_B0M',
 '이용건수_당사기타_B0M',
 '승인거절건수_입력오류_B0M',
 '승인거절건수_기타_B0M']

In [67]:
print(len(zero_var_cols))

14

In [74]:
# 분산이 0인 칼럼을 제외하기 -> 14개가 빠져서 86개
print(len(all_df.columns))

86

In [75]:
all_df

,기준년월,ID,Segment,이용금액_간편결제_R6M,이용금액_A페이_R6M,이용금액_B페이_R6M,이용금액_C페이_R6M,이용금액_D페이_R6M,이용건수_간편결제_R6M,이용건수_A페이_R6M,...,신청건수_ATM_CL_R6M,승인거절건수_B0M,승인거절건수_한도초과_B0M,승인거절건수_BL_B0M,승인거절건수_R3M,승인거절건수_한도초과_R3M,승인거절건수_BL_R3M,승인거절건수_입력오류_R3M,승인거절건수_기타_R3M,이용금액대
0,201807,TRAIN_000000,D,0,0,0,0,0,0,0,...,0,0,0,0,3,3,0,0,0,01.100만원+
1,201807,TRAIN_000001,E,0,0,0,0,0,0,0,...,0,0,0,0,3,3,0,0,0,03.30만원+
2,201807,TRAIN_000002,C,5647,0,0,0,0,2,0,...,0,0,0,0,0,0,0,0,0,01.100만원+
3,201807,TRAIN_000003,D,0,0,0,0,0,0,0,...,0,0,0,0,3,3,0,0,0,01.100만원+
4,201807,TRAIN_000004,E,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,09.미사용
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399995,201812,TRAIN_399995,E,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,09.미사용
2399996,201812,TRAIN_399996,D,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,01.100만원+
2399997,201812,TRAIN_399997,C,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,02.50만원+
2399998,201812,TRAIN_399998,E,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,09.미사용
2399999,201812,TRAIN_399999,E,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,04.10만원+

변수 간 관계파악 
- ANOVA -> ETA제곱 -> 크레이머스V

In [76]:
# 인코더 추가
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
#VIF
from statsmodels.stats.outliers_influence import variance_inflation_factor
#상수항추가
from statsmodels.tools.tools import add_constant
# 카이제곱, ANOVA
from scipy.stats import chi2_contingency
from scipy.stats import f_oneway
#Turkeyhsd
from statsmodels.stats.multicomp import pairwise_tukeyhsd





# 크레이머스V와 eta를 구하기 위한 함수
def cramers_v(confusion_matrix):
    chi2 = chi2_contingency(confusion_matrix)[0]
    n = confusion_matrix.sum().sum()
    r, k = confusion_matrix.shape
    return np.sqrt(chi2 / (n * (min(k, r) - 1)))

def eta_squared(anova_ss_between, total_ss):
    return anova_ss_between / total_ss if total_ss != 0 else np.nan

In [77]:

# 수치형/범주형 자동 구분
num_cols = all_df.select_dtypes(include=[np.number]).columns.tolist()
cat_cols = all_df.select_dtypes(exclude=[np.number]).columns.tolist()

In [78]:
print(cat_cols)

['ID', 'Segment', '이용금액대']

In [81]:
del cat_cols[0]

In [98]:
print(cat_cols)

['이용금액대']

In [82]:
print(num_cols)

['기준년월', '이용금액_간편결제_R6M', '이용금액_A페이_R6M', '이용금액_B페이_R6M', '이용금액_C페이_R6M', '이용금액_D페이_R6M', '이용건수_간편결제_R6M', '이용건수_A페이_R6M', '이용건수_B페이_R6M', '이용건수_C페이_R6M', '이용건수_D페이_R6M', '이용금액_간편결제_R3M', '이용금액_A페이_R3M', '이용금액_B페이_R3M', '이용금액_C페이_R3M', '이용금액_D페이_R3M', '이용건수_간편결제_R3M', '이용건수_A페이_R3M', '이용건수_B페이_R3M', '이용건수_C페이_R3M', '이용건수_D페이_R3M', '이용금액_간편결제_B0M', '이용금액_A페이_B0M', '이용금액_B페이_B0M', '이용금액_C페이_B0M', '이용금액_D페이_B0M', '이용건수_간편결제_B0M', '이용건수_A페이_B0M', '이용건수_B페이_B0M', '이용건수_C페이_B0M', '이용건수_D페이_B0M', '이용개월수_선결제_R6M', '이용횟수_선결제_R6M', '이용금액_선결제_R6M', '이용건수_선결제_R6M', '이용횟수_선결제_R3M', '이용금액_선결제_R3M', '이용건수_선결제_R3M', '이용횟수_선결제_B0M', '이용금액_선결제_B0M', '이용건수_선결제_B0M', '이용횟수_연체_R6M', '이용금액_연체_R6M', '이용횟수_연체_R3M', '이용금액_연체_R3M', '이용횟수_연체_B0M', '이용금액_연체_B0M', '이용개월수_전체_R6M', '이용개월수_전체_R3M', '이용개월수_결제일_R6M', '이용개월수_결제일_R3M', '가맹점매출금액_B1M', '가맹점매출금액_B2M', '정상청구원금_B0M', '선입금원금_B0M', '정상입금원금_B0M', '연체입금원금_B0M', '정상청구원금_B2M', '선입금원금_B2M', '정상입금원금_B2M', '연체입금원금_B2M', '정상청구원금_B5M', '선입금원금_B5M', '정상입금원금_B5M', '연체입금원금_B5M', '건수_할부전환_R6M', '건수_할부전환_R3M', '금액_할부전환_R6M', '금액_할부전환_R3M', '연속무실적개월수_기본_24M_카드', '연속유실적개월수_기본_24M_카드', '신청건수_ATM_CA_B0', '신청건수_ATM_CL_B0', '신청건수_ATM_CA_R6M', '신청건수_ATM_CL_R6M', '승인거절건수_B0M', '승인거절건수_한도초과_B0M', '승인거절건수_BL_B0M', '승인거절건수_R3M', '승인거절건수_한도초과_R3M', '승인거절건수_BL_R3M', '승인거절건수_입력오류_R3M', '승인거절건수_기타_R3M']

In [84]:
del num_cols[0]

In [85]:
print(num_cols)

['이용금액_A페이_R6M', '이용금액_B페이_R6M', '이용금액_C페이_R6M', '이용금액_D페이_R6M', '이용건수_간편결제_R6M', '이용건수_A페이_R6M', '이용건수_B페이_R6M', '이용건수_C페이_R6M', '이용건수_D페이_R6M', '이용금액_간편결제_R3M', '이용금액_A페이_R3M', '이용금액_B페이_R3M', '이용금액_C페이_R3M', '이용금액_D페이_R3M', '이용건수_간편결제_R3M', '이용건수_A페이_R3M', '이용건수_B페이_R3M', '이용건수_C페이_R3M', '이용건수_D페이_R3M', '이용금액_간편결제_B0M', '이용금액_A페이_B0M', '이용금액_B페이_B0M', '이용금액_C페이_B0M', '이용금액_D페이_B0M', '이용건수_간편결제_B0M', '이용건수_A페이_B0M', '이용건수_B페이_B0M', '이용건수_C페이_B0M', '이용건수_D페이_B0M', '이용개월수_선결제_R6M', '이용횟수_선결제_R6M', '이용금액_선결제_R6M', '이용건수_선결제_R6M', '이용횟수_선결제_R3M', '이용금액_선결제_R3M', '이용건수_선결제_R3M', '이용횟수_선결제_B0M', '이용금액_선결제_B0M', '이용건수_선결제_B0M', '이용횟수_연체_R6M', '이용금액_연체_R6M', '이용횟수_연체_R3M', '이용금액_연체_R3M', '이용횟수_연체_B0M', '이용금액_연체_B0M', '이용개월수_전체_R6M', '이용개월수_전체_R3M', '이용개월수_결제일_R6M', '이용개월수_결제일_R3M', '가맹점매출금액_B1M', '가맹점매출금액_B2M', '정상청구원금_B0M', '선입금원금_B0M', '정상입금원금_B0M', '연체입금원금_B0M', '정상청구원금_B2M', '선입금원금_B2M', '정상입금원금_B2M', '연체입금원금_B2M', '정상청구원금_B5M', '선입금원금_B5M', '정상입금원금_B5M', '연체입금원금_B5M', '건수_할부전환_R6M', '건수_할부전환_R3M', '금액_할부전환_R6M', '금액_할부전환_R3M', '연속무실적개월수_기본_24M_카드', '연속유실적개월수_기본_24M_카드', '신청건수_ATM_CA_B0', '신청건수_ATM_CL_B0', '신청건수_ATM_CA_R6M', '신청건수_ATM_CL_R6M', '승인거절건수_B0M', '승인거절건수_한도초과_B0M', '승인거절건수_BL_B0M', '승인거절건수_R3M', '승인거절건수_한도초과_R3M', '승인거절건수_BL_R3M', '승인거절건수_입력오류_R3M', '승인거절건수_기타_R3M']

In [86]:

# 제외할 컬럼 리스트
remove_cols = ['이용금액_당사페이_R6M', '이용금액_당사기타_R6M', '이용건수_당사페이_R6M', 
               '이용건수_당사기타_R6M', '이용금액_당사페이_R3M', '이용금액_당사기타_R3M', '이용건수_당사페이_R3M', '이용건수_당사기타_R3M', '이용금액_당사페이_B0M', '이용금액_당사기타_B0M', '이용건수_당사페이_B0M', '이용건수_당사기타_B0M', '승인거절건수_입력오류_B0M', '승인거절건수_기타_B0M']

# 기존 숫자형 컬럼 리스트에서 제거
num_cols = [col for col in num_cols if col not in remove_cols]

In [88]:
print(len(num_cols))

81

In [89]:
print(len(cat_cols))

1

In [90]:

anova = []
chi = []

for col in all_df.columns:
    if col == 'Segment':
        continue

    if col in num_cols:
        data = all_df[[col, 'Segment']].dropna()
        groups = [data[data['Segment'] == val][col] for val in data['Segment'].unique()]
        try:
            stat = f_oneway(*groups).statistic
            ss_between = sum([(g.mean() - data[col].mean())**2 * len(g) for g in groups])
            ss_total = sum((data[col] - data[col].mean())**2)
            eta2 = eta_squared(ss_between, ss_total)
            anova.append({'변수': col, '유형': '수치형', '계수종류': 'Eta²', '상관계수': eta2})
        except:
            continue

    elif col in cat_cols:
        contingency = pd.crosstab(all_df[col], all_df['Segment'])
        if contingency.shape[0] > 1 and contingency.shape[1] > 1:
            try:
                v = cramers_v(contingency)
                chi.append({'변수': col, '유형': '범주형', '계수종류': "Cramér's V", '상관계수': v})
            except:
                continue

# 결과 정리
result_df1 = pd.DataFrame(anova)
result_df2 = pd.DataFrame(chi)
result_df1 = result_df1.sort_values(by='상관계수', ascending=False).reset_index(drop=True)
result_df2 = result_df2.sort_values(by='상관계수', ascending=False).reset_index(drop=True)

# 결과 출력
display(result_df1)
display(result_df2)

                 변수   유형  계수종류      상관계수
0        정상청구원금_B5M  수치형  Eta²  0.439956
1        정상청구원금_B0M  수치형  Eta²  0.403046
2        정상청구원금_B2M  수치형  Eta²  0.392462
3        정상입금원금_B5M  수치형  Eta²  0.309594
4        정상입금원금_B0M  수치형  Eta²  0.304070
..              ...  ...   ...       ...
76  신청건수_ATM_CL_R6M  수치형  Eta²  0.000085
77    승인거절건수_BL_B0M  수치형  Eta²  0.000055
78       승인거절건수_B0M  수치형  Eta²  0.000031
79  승인거절건수_한도초과_B0M  수치형  Eta²  0.000028
80   신청건수_ATM_CL_B0  수치형  Eta²  0.000007

[81 rows x 4 columns]

      변수   유형        계수종류      상관계수
0  이용금액대  범주형  Cramér's V  0.309453

In [91]:
pd.set_option('display.max_rows', 100)
display(result_df1)

                    변수   유형  계수종류      상관계수
0           정상청구원금_B5M  수치형  Eta²  0.439956
1           정상청구원금_B0M  수치형  Eta²  0.403046
2           정상청구원금_B2M  수치형  Eta²  0.392462
3           정상입금원금_B5M  수치형  Eta²  0.309594
4           정상입금원금_B0M  수치형  Eta²  0.304070
5           정상입금원금_B2M  수치형  Eta²  0.287191
6           연체입금원금_B0M  수치형  Eta²  0.165094
7           연체입금원금_B5M  수치형  Eta²  0.150982
8           연체입금원금_B2M  수치형  Eta²  0.150858
9   연속유실적개월수_기본_24M_카드  수치형  Eta²  0.141074
10       이용금액_간편결제_B0M  수치형  Eta²  0.133044
11       이용건수_간편결제_R6M  수치형  Eta²  0.123252
12       이용건수_간편결제_R3M  수치형  Eta²  0.118439
13       이용금액_간편결제_R3M  수치형  Eta²  0.116892
14       이용건수_간편결제_B0M  수치형  Eta²  0.114604
15        이용개월수_전체_R6M  수치형  Eta²  0.062362
16        이용개월수_전체_R3M  수치형  Eta²  0.053696
17       이용개월수_결제일_R6M  수치형  Eta²  0.035433
18  연속무실적개월수_기본_24M_카드  수치형  Eta²  0.031096
19       이용개월수_결제일_R3M  수치형  Eta²  0.030109
20     신청건수_ATM_CA_R6M  수치형  Eta²  0.029690
21           선입금원금_B5M  수치형  Eta²  0.027640
22           선입금원금_B0M  수치형  Eta²  0.026451
23        이용금액_선결제_R6M  수치형  Eta²  0.026435
24           선입금원금_B2M  수치형  Eta²  0.026136
25        이용금액_A페이_B0M  수치형  Eta²  0.024140
26        이용건수_A페이_R6M  수치형  Eta²  0.023199
27        이용금액_A페이_R3M  수치형  Eta²  0.022711
28        이용횟수_선결제_R6M  수치형  Eta²  0.022709
29        이용금액_선결제_R3M  수치형  Eta²  0.022101
30        이용건수_A페이_R3M  수치형  Eta²  0.020643
31        이용금액_A페이_R6M  수치형  Eta²  0.020529
32        이용건수_A페이_B0M  수치형  Eta²  0.019269
33      신청건수_ATM_CA_B0  수치형  Eta²  0.019173
34        이용금액_선결제_B0M  수치형  Eta²  0.018900
35       이용개월수_선결제_R6M  수치형  Eta²  0.018633
36        이용횟수_선결제_R3M  수치형  Eta²  0.017888
37        이용건수_선결제_R6M  수치형  Eta²  0.017220
38        이용금액_C페이_R3M  수치형  Eta²  0.017194
39        이용금액_C페이_R6M  수치형  Eta²  0.017102
40        이용금액_C페이_B0M  수치형  Eta²  0.016894
41        이용건수_C페이_B0M  수치형  Eta²  0.016638
42        이용건수_C페이_R3M  수치형  Eta²  0.016011
43        이용횟수_선결제_B0M  수치형  Eta²  0.015324
44        이용금액_D페이_R6M  수치형  Eta²  0.012635
45        이용건수_C페이_R6M  수치형  Eta²  0.012613
46        이용건수_선결제_R3M  수치형  Eta²  0.011272
47        이용금액_B페이_R6M  수치형  Eta²  0.010001
48        이용금액_B페이_R3M  수치형  Eta²  0.009599
49        이용건수_B페이_R3M  수치형  Eta²  0.009566
50        이용건수_D페이_R6M  수치형  Eta²  0.009413
51        이용건수_B페이_B0M  수치형  Eta²  0.008238
52        이용금액_B페이_B0M  수치형  Eta²  0.008145
53        이용건수_선결제_B0M  수치형  Eta²  0.007201
54        이용건수_B페이_R6M  수치형  Eta²  0.007097
55         이용금액_연체_R6M  수치형  Eta²  0.006798
56        이용금액_D페이_R3M  수치형  Eta²  0.006352
57         금액_할부전환_R6M  수치형  Eta²  0.006142
58         건수_할부전환_R6M  수치형  Eta²  0.005952
59          승인거절건수_R3M  수치형  Eta²  0.005916
60         금액_할부전환_R3M  수치형  Eta²  0.005838
61         건수_할부전환_R3M  수치형  Eta²  0.005828
62        이용건수_D페이_R3M  수치형  Eta²  0.004773
63         이용금액_연체_R3M  수치형  Eta²  0.004105
64       승인거절건수_기타_R3M  수치형  Eta²  0.003903
65         이용횟수_연체_R6M  수치형  Eta²  0.003374
66     승인거절건수_입력오류_R3M  수치형  Eta²  0.002803
67       승인거절건수_BL_R3M  수치형  Eta²  0.002636
68        이용금액_D페이_B0M  수치형  Eta²  0.002228
69         이용금액_연체_B0M  수치형  Eta²  0.002205
70        이용건수_D페이_B0M  수치형  Eta²  0.002044
71     승인거절건수_한도초과_R3M  수치형  Eta²  0.001856
72         이용횟수_연체_R3M  수치형  Eta²  0.001854
73         가맹점매출금액_B1M  수치형  Eta²  0.001663
74         가맹점매출금액_B2M  수치형  Eta²  0.001652
75         이용횟수_연체_B0M  수치형  Eta²  0.001034
76     신청건수_ATM_CL_R6M  수치형  Eta²  0.000085
77       승인거절건수_BL_B0M  수치형  Eta²  0.000055
78          승인거절건수_B0M  수치형  Eta²  0.000031
79     승인거절건수_한도초과_B0M  수치형  Eta²  0.000028
80      신청건수_ATM_CL_B0  수치형  Eta²  0.000007

In [92]:
result_df1['상관계수'] = result_df1['상관계수'].round(4)

In [93]:
display(result_df1)

                    변수   유형  계수종류    상관계수
0           정상청구원금_B5M  수치형  Eta²  0.4400
1           정상청구원금_B0M  수치형  Eta²  0.4030
2           정상청구원금_B2M  수치형  Eta²  0.3925
3           정상입금원금_B5M  수치형  Eta²  0.3096
4           정상입금원금_B0M  수치형  Eta²  0.3041
5           정상입금원금_B2M  수치형  Eta²  0.2872
6           연체입금원금_B0M  수치형  Eta²  0.1651
7           연체입금원금_B5M  수치형  Eta²  0.1510
8           연체입금원금_B2M  수치형  Eta²  0.1509
9   연속유실적개월수_기본_24M_카드  수치형  Eta²  0.1411
10       이용금액_간편결제_B0M  수치형  Eta²  0.1330
11       이용건수_간편결제_R6M  수치형  Eta²  0.1233
12       이용건수_간편결제_R3M  수치형  Eta²  0.1184
13       이용금액_간편결제_R3M  수치형  Eta²  0.1169
14       이용건수_간편결제_B0M  수치형  Eta²  0.1146
15        이용개월수_전체_R6M  수치형  Eta²  0.0624
16        이용개월수_전체_R3M  수치형  Eta²  0.0537
17       이용개월수_결제일_R6M  수치형  Eta²  0.0354
18  연속무실적개월수_기본_24M_카드  수치형  Eta²  0.0311
19       이용개월수_결제일_R3M  수치형  Eta²  0.0301
20     신청건수_ATM_CA_R6M  수치형  Eta²  0.0297
21           선입금원금_B5M  수치형  Eta²  0.0276
22           선입금원금_B0M  수치형  Eta²  0.0265
23        이용금액_선결제_R6M  수치형  Eta²  0.0264
24           선입금원금_B2M  수치형  Eta²  0.0261
25        이용금액_A페이_B0M  수치형  Eta²  0.0241
26        이용건수_A페이_R6M  수치형  Eta²  0.0232
27        이용금액_A페이_R3M  수치형  Eta²  0.0227
28        이용횟수_선결제_R6M  수치형  Eta²  0.0227
29        이용금액_선결제_R3M  수치형  Eta²  0.0221
30        이용건수_A페이_R3M  수치형  Eta²  0.0206
31        이용금액_A페이_R6M  수치형  Eta²  0.0205
32        이용건수_A페이_B0M  수치형  Eta²  0.0193
33      신청건수_ATM_CA_B0  수치형  Eta²  0.0192
34        이용금액_선결제_B0M  수치형  Eta²  0.0189
35       이용개월수_선결제_R6M  수치형  Eta²  0.0186
36        이용횟수_선결제_R3M  수치형  Eta²  0.0179
37        이용건수_선결제_R6M  수치형  Eta²  0.0172
38        이용금액_C페이_R3M  수치형  Eta²  0.0172
39        이용금액_C페이_R6M  수치형  Eta²  0.0171
40        이용금액_C페이_B0M  수치형  Eta²  0.0169
41        이용건수_C페이_B0M  수치형  Eta²  0.0166
42        이용건수_C페이_R3M  수치형  Eta²  0.0160
43        이용횟수_선결제_B0M  수치형  Eta²  0.0153
44        이용금액_D페이_R6M  수치형  Eta²  0.0126
45        이용건수_C페이_R6M  수치형  Eta²  0.0126
46        이용건수_선결제_R3M  수치형  Eta²  0.0113
47        이용금액_B페이_R6M  수치형  Eta²  0.0100
48        이용금액_B페이_R3M  수치형  Eta²  0.0096
49        이용건수_B페이_R3M  수치형  Eta²  0.0096
50        이용건수_D페이_R6M  수치형  Eta²  0.0094
51        이용건수_B페이_B0M  수치형  Eta²  0.0082
52        이용금액_B페이_B0M  수치형  Eta²  0.0081
53        이용건수_선결제_B0M  수치형  Eta²  0.0072
54        이용건수_B페이_R6M  수치형  Eta²  0.0071
55         이용금액_연체_R6M  수치형  Eta²  0.0068
56        이용금액_D페이_R3M  수치형  Eta²  0.0064
57         금액_할부전환_R6M  수치형  Eta²  0.0061
58         건수_할부전환_R6M  수치형  Eta²  0.0060
59          승인거절건수_R3M  수치형  Eta²  0.0059
60         금액_할부전환_R3M  수치형  Eta²  0.0058
61         건수_할부전환_R3M  수치형  Eta²  0.0058
62        이용건수_D페이_R3M  수치형  Eta²  0.0048
63         이용금액_연체_R3M  수치형  Eta²  0.0041
64       승인거절건수_기타_R3M  수치형  Eta²  0.0039
65         이용횟수_연체_R6M  수치형  Eta²  0.0034
66     승인거절건수_입력오류_R3M  수치형  Eta²  0.0028
67       승인거절건수_BL_R3M  수치형  Eta²  0.0026
68        이용금액_D페이_B0M  수치형  Eta²  0.0022
69         이용금액_연체_B0M  수치형  Eta²  0.0022
70        이용건수_D페이_B0M  수치형  Eta²  0.0020
71     승인거절건수_한도초과_R3M  수치형  Eta²  0.0019
72         이용횟수_연체_R3M  수치형  Eta²  0.0019
73         가맹점매출금액_B1M  수치형  Eta²  0.0017
74         가맹점매출금액_B2M  수치형  Eta²  0.0017
75         이용횟수_연체_B0M  수치형  Eta²  0.0010
76     신청건수_ATM_CL_R6M  수치형  Eta²  0.0001
77       승인거절건수_BL_B0M  수치형  Eta²  0.0001
78          승인거절건수_B0M  수치형  Eta²  0.0000
79     승인거절건수_한도초과_B0M  수치형  Eta²  0.0000
80      신청건수_ATM_CL_B0  수치형  Eta²  0.0000

Corr 상관계수

In [94]:
# all_df에서 기준년월, ID 컬럼은 제거한다. 
all_df = all_df.drop(['기준년월','ID'], axis=1)

In [103]:
cat_cols.remove('Segment')

In [104]:
cat_cols

['이용금액대', 'Segment']

In [105]:

# A가 가장 높은 등급일 것이라 추측하고 세그먼트만 LabelEncoder가 아닌 map으로 진행

segment_order = {'E': 0, 'D': 1, 'C': 2, 'B': 3, 'A': 4}
all_df['Segment_e'] = all_df['Segment'].map(segment_order)

In [108]:

from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()

for col in cat_cols:
    all_df[col + '_encoded'] = encoder.fit_transform(all_df[col])

In [109]:

print(all_df['Segment_e'].unique())

[1 0 2 4 3]

In [110]:
# 비교할 종속변수
target = 'Segment_e'
# 결과를 담을 리스트 
corr_result = []
# 반복
for col in num_cols:
    if col in all_df.columns:
        corr = all_df[col].corr(all_df[target])
        corr_result.append({'변수': col, '상관계수': corr})

# 데이터프레임으로 정리한다 
result_df3 = pd.DataFrame(corr_result).sort_values(by='상관계수', key=abs, ascending=False).reset_index(drop=True)

display(result_df3)

                    변수      상관계수
0           정상청구원금_B5M  0.662113
1           정상청구원금_B0M  0.634016
2           정상청구원금_B2M  0.625633
3           정상입금원금_B5M  0.552596
4           정상입금원금_B0M  0.549410
5           정상입금원금_B2M  0.533324
6           연체입금원금_B0M  0.402561
7           연체입금원금_B5M  0.385595
8           연체입금원금_B2M  0.385410
9        이용금액_간편결제_B0M  0.362655
10  연속유실적개월수_기본_24M_카드  0.358104
11       이용금액_간편결제_R3M  0.340204
12       이용건수_간편결제_R6M  0.339775
13       이용건수_간편결제_R3M  0.332775
14       이용건수_간편결제_B0M  0.327183
15        이용개월수_전체_R6M  0.234105
16        이용개월수_전체_R3M  0.217329
17       이용개월수_결제일_R6M  0.176275
18     신청건수_ATM_CA_R6M  0.171939
19  연속무실적개월수_기본_24M_카드 -0.166296
20           선입금원금_B5M  0.163229
21       이용개월수_결제일_R3M  0.162705
22           선입금원금_B0M  0.159463
23           선입금원금_B2M  0.158400
24        이용금액_선결제_R6M  0.158308
25        이용금액_A페이_B0M  0.150127
26        이용금액_A페이_R3M  0.145850
27        이용건수_A페이_R6M  0.145318
28        이용횟수_선결제_R6M  0.144770
29        이용금액_선결제_R3M  0.144058
30        이용금액_A페이_R6M  0.138985
31      신청건수_ATM_CA_B0  0.138318
32        이용건수_A페이_R3M  0.136500
33        이용금액_선결제_B0M  0.132797
34        이용건수_A페이_B0M  0.131410
35       이용개월수_선결제_R6M  0.130231
36        이용금액_C페이_R3M  0.129267
37        이용금액_C페이_R6M  0.128714
38        이용금액_C페이_B0M  0.128421
39        이용횟수_선결제_R3M  0.128344
40        이용건수_C페이_B0M  0.127201
41        이용건수_선결제_R6M  0.125263
42        이용건수_C페이_R3M  0.124659
43        이용횟수_선결제_B0M  0.118567
44        이용건수_C페이_R6M  0.110353
45        이용금액_D페이_R6M  0.105541
46        이용건수_선결제_R3M  0.100829
47        이용금액_B페이_R6M  0.096435
48        이용건수_B페이_R3M  0.095403
49        이용금액_B페이_R3M  0.095196
50        이용건수_D페이_R6M  0.089962
51        이용건수_B페이_B0M  0.088742
52        이용금액_B페이_B0M  0.088246
53        이용건수_B페이_R6M  0.081665
54        이용건수_선결제_B0M  0.079728
55         이용금액_연체_R6M  0.078090
56          승인거절건수_R3M  0.075885
57         금액_할부전환_R6M  0.075612
58         건수_할부전환_R6M  0.074281
59         금액_할부전환_R3M  0.073840
60        이용금액_D페이_R3M  0.073802
61         건수_할부전환_R3M  0.073710
62        이용건수_D페이_R3M  0.063338
63       승인거절건수_기타_R3M  0.062148
64         이용금액_연체_R3M  0.060167
65         이용횟수_연체_R6M  0.053015
66       승인거절건수_BL_R3M  0.051009
67         이용금액_연체_B0M  0.043100
68        이용금액_D페이_B0M  0.042065
69     승인거절건수_한도초과_R3M  0.041535
70        이용건수_D페이_B0M  0.040011
71         이용횟수_연체_R3M  0.038753
72         가맹점매출금액_B1M  0.034857
73         가맹점매출금액_B2M  0.034362
74         이용횟수_연체_B0M  0.028156
75       승인거절건수_BL_B0M  0.007044
76     승인거절건수_입력오류_R3M  0.006499
77     신청건수_ATM_CL_R6M  0.004085
78          승인거절건수_B0M  0.003663
79     승인거절건수_한도초과_B0M  0.002517
80      신청건수_ATM_CL_B0  0.002055

In [111]:

result_AK = pd.concat(
    [result_df1, result_df2],
    axis=0,
    ignore_index=True
)
display(result_AK)

                    변수   유형        계수종류      상관계수
0           정상청구원금_B5M  수치형        Eta²  0.440000
1           정상청구원금_B0M  수치형        Eta²  0.403000
2           정상청구원금_B2M  수치형        Eta²  0.392500
3           정상입금원금_B5M  수치형        Eta²  0.309600
4           정상입금원금_B0M  수치형        Eta²  0.304100
5           정상입금원금_B2M  수치형        Eta²  0.287200
6           연체입금원금_B0M  수치형        Eta²  0.165100
7           연체입금원금_B5M  수치형        Eta²  0.151000
8           연체입금원금_B2M  수치형        Eta²  0.150900
9   연속유실적개월수_기본_24M_카드  수치형        Eta²  0.141100
10       이용금액_간편결제_B0M  수치형        Eta²  0.133000
11       이용건수_간편결제_R6M  수치형        Eta²  0.123300
12       이용건수_간편결제_R3M  수치형        Eta²  0.118400
13       이용금액_간편결제_R3M  수치형        Eta²  0.116900
14       이용건수_간편결제_B0M  수치형        Eta²  0.114600
15        이용개월수_전체_R6M  수치형        Eta²  0.062400
16        이용개월수_전체_R3M  수치형        Eta²  0.053700
17       이용개월수_결제일_R6M  수치형        Eta²  0.035400
18  연속무실적개월수_기본_24M_카드  수치형        Eta²  0.031100
19       이용개월수_결제일_R3M  수치형        Eta²  0.030100
20     신청건수_ATM_CA_R6M  수치형        Eta²  0.029700
21           선입금원금_B5M  수치형        Eta²  0.027600
22           선입금원금_B0M  수치형        Eta²  0.026500
23        이용금액_선결제_R6M  수치형        Eta²  0.026400
24           선입금원금_B2M  수치형        Eta²  0.026100
25        이용금액_A페이_B0M  수치형        Eta²  0.024100
26        이용건수_A페이_R6M  수치형        Eta²  0.023200
27        이용금액_A페이_R3M  수치형        Eta²  0.022700
28        이용횟수_선결제_R6M  수치형        Eta²  0.022700
29        이용금액_선결제_R3M  수치형        Eta²  0.022100
30        이용건수_A페이_R3M  수치형        Eta²  0.020600
31        이용금액_A페이_R6M  수치형        Eta²  0.020500
32        이용건수_A페이_B0M  수치형        Eta²  0.019300
33      신청건수_ATM_CA_B0  수치형        Eta²  0.019200
34        이용금액_선결제_B0M  수치형        Eta²  0.018900
35       이용개월수_선결제_R6M  수치형        Eta²  0.018600
36        이용횟수_선결제_R3M  수치형        Eta²  0.017900
37        이용건수_선결제_R6M  수치형        Eta²  0.017200
38        이용금액_C페이_R3M  수치형        Eta²  0.017200
39        이용금액_C페이_R6M  수치형        Eta²  0.017100
40        이용금액_C페이_B0M  수치형        Eta²  0.016900
41        이용건수_C페이_B0M  수치형        Eta²  0.016600
42        이용건수_C페이_R3M  수치형        Eta²  0.016000
43        이용횟수_선결제_B0M  수치형        Eta²  0.015300
44        이용금액_D페이_R6M  수치형        Eta²  0.012600
45        이용건수_C페이_R6M  수치형        Eta²  0.012600
46        이용건수_선결제_R3M  수치형        Eta²  0.011300
47        이용금액_B페이_R6M  수치형        Eta²  0.010000
48        이용금액_B페이_R3M  수치형        Eta²  0.009600
49        이용건수_B페이_R3M  수치형        Eta²  0.009600
50        이용건수_D페이_R6M  수치형        Eta²  0.009400
51        이용건수_B페이_B0M  수치형        Eta²  0.008200
52        이용금액_B페이_B0M  수치형        Eta²  0.008100
53        이용건수_선결제_B0M  수치형        Eta²  0.007200
54        이용건수_B페이_R6M  수치형        Eta²  0.007100
55         이용금액_연체_R6M  수치형        Eta²  0.006800
56        이용금액_D페이_R3M  수치형        Eta²  0.006400
57         금액_할부전환_R6M  수치형        Eta²  0.006100
58         건수_할부전환_R6M  수치형        Eta²  0.006000
59          승인거절건수_R3M  수치형        Eta²  0.005900
60         금액_할부전환_R3M  수치형        Eta²  0.005800
61         건수_할부전환_R3M  수치형        Eta²  0.005800
62        이용건수_D페이_R3M  수치형        Eta²  0.004800
63         이용금액_연체_R3M  수치형        Eta²  0.004100
64       승인거절건수_기타_R3M  수치형        Eta²  0.003900
65         이용횟수_연체_R6M  수치형        Eta²  0.003400
66     승인거절건수_입력오류_R3M  수치형        Eta²  0.002800
67       승인거절건수_BL_R3M  수치형        Eta²  0.002600
68        이용금액_D페이_B0M  수치형        Eta²  0.002200
69         이용금액_연체_B0M  수치형        Eta²  0.002200
70        이용건수_D페이_B0M  수치형        Eta²  0.002000
71     승인거절건수_한도초과_R3M  수치형        Eta²  0.001900
72         이용횟수_연체_R3M  수치형        Eta²  0.001900
73         가맹점매출금액_B1M  수치형        Eta²  0.001700
74         가맹점매출금액_B2M  수치형        Eta²  0.001700
75         이용횟수_연체_B0M  수치형        Eta²  0.001000
76     신청건수_ATM_CL_R6M  수치형        Eta²  0.000100
77       승인거절건수_BL_B0M  수치형        Eta²  0.000100
78          승인거절건수_B0M  수치형        Eta²  0.000000
79     승인거절건수_한도초과_B0M  수치형        Eta²  0.000000
80      신청건수_ATM_CL_B0  수치형        Eta²  0.000000
81               이용금액대  범주형  Cramér's V  0.309453

In [113]:
### 내보낸다. 
result_AK.to_excel('C:/Users/SAMSUNG/OneDrive/바탕 화면/6.채널정보/승인매출정보3-3_상관계수.xlsx', index=False)
result_df3.to_excel('C:/Users/SAMSUNG/OneDrive/바탕 화면/6.채널정보/승인매출정보3-3_검사.xlsx', index=False)